In [1]:
import pandas as pd
import matplotlib
from tqdm.auto import tqdm
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 20)

In [2]:
df_train = pd.read_csv("../dataset/original/entity-resolution_advanced-topics-training_data.csv")
df_train.head(10)

,record_id,name,type,address,phone,email,modification,linked_id
0,10111147-T1,ArDIA ENTERPRISESmLTD.,entity,NaN,4.102971e+12,imquires@zoho.vo,typo,10111147
1,12172071-T0,ANDRÉ ALMEIDA BLANCO,officer,la Rua Pelotas; 209; apartamento 72; Bloco A; ...,NaN,NaN,typo,12172071
2,10104491-T1,MOONTA HOLDINGS LTD.,entity,NaN,6.501346e+10,NaN,typo,10104491
3,10068808,SPRINGFIELD INVESTMENTS GROUP LIMITED,entity,NaN,NaN,consulting@zoho.de,original,10068808
4,13011715,GRIGORY UVAROV,officer,127273; MOSCOW; OTRADNAJA STREET; HOUSE 2; NO....,NaN,NaN,original,13011715
5,10105687,ODIN GROUP INVESTMENTS S.A.,entity,NaN,4.966891e+10,info@outlook.cz,original,10105687
6,10016805-T2,CAPRI SOLUTIONS LIMITED,entity,NaN,NaN,help@CAPRI.SOLUTIONS.LxMITED.de,typo,10016805
7,12133421,Crossmatch S.A.,officer,"Akara building 24 De Castro Street, Wickham Ca...",NaN,CrossmatchSA@aol.gov,original,12133421
8,12126772,LAURENCE POUNTNEY LTD,officer,Akara Building 24 De Castro St; Wickham Cay I;...,NaN,support@LAURENCE.POUNTNEY.LTD.gov,original,12126772
9,11002523,"BREIT, MARCUS",intermediary,NaN,4.401803e+11,NaN,original,11002523

In [10]:
# numero di entità medio che fanno riferimento ad una stessa entità
df_train.groupby(['linked_id']).size().mean()

2.5872984987502057

In [29]:
# entità con più alias
print(f"{df_train.groupby(['linked_id']).size().argmax()} : {df_train.groupby(['linked_id']).size().max()}")

10035266 : 12

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.

In [35]:
# numero di volte medio che compare un nome
df_train.groupby(['name']).size().mean()

2.0759422221821904

In [7]:
# numero medio di nomi diversi per una stessa entità
df_train.groupby(['name','linked_id']).size().mean()

1.9175816404354156

In [8]:
# numero medio di mail diverse per stessa entità
df_train.groupby(['email','linked_id']).size().mean()

1.4444570344881054

In [9]:
# same...
df_train.groupby(['phone','linked_id']).size().mean()

1.4721473165101515

In [25]:
# same...
df_train.groupby(['address','linked_id']).size().mean()

1.3355412702494214

In [21]:
# % of NanN phones
df_train.phone.isna().sum() / df_train.phone.shape[0] * 100

39.125737591114195

In [22]:
# % of NanN emails
df_train.email.isna().sum() / df_train.email.shape[0] * 100

64.97049635543213

In [23]:
# % of NanN addresses
df_train.address.isna().sum() / df_train.address.shape[0] * 100

62.441281962281614

In [33]:
# % of records that only have the name field (and the others are empty)
df_train[df_train.phone.isna() & df_train.email.isna() & df_train.address.isna()].shape[0] / df_train.shape[0] * 100

20.009834548189286