In [1]:
import pandas as pd
from tqdm.auto import tqdm
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 20)

In [2]:
df_train = pd.read_csv("../dataset/original/train.csv", escapechar="\\")
df_train.head(10)

,record_id,name,type,address,phone,email,modification,linked_id
0,10111147-T1,ArDIA ENTERPRISESmLTD.,entity,NaN,4.102971e+12,imquires@zoho.vo,typo,10111147
1,12172071-T0,ANDRÉ ALMEIDA BLANCO,officer,la Rua Pelotas; 209; apartamento 72; Bloco A; ...,NaN,NaN,typo,12172071
2,10104491-T1,MOONTA HOLDINGS LTD.,entity,NaN,6.501346e+10,NaN,typo,10104491
3,10068808,SPRINGFIELD INVESTMENTS GROUP LIMITED,entity,NaN,NaN,consulting@zoho.de,original,10068808
4,13011715,GRIGORY UVAROV,officer,127273; MOSCOW; OTRADNAJA STREET; HOUSE 2; NO....,NaN,NaN,original,13011715
5,10105687,ODIN GROUP INVESTMENTS S.A.,entity,NaN,4.966891e+10,info@outlook.cz,original,10105687
6,10016805-T2,CAPRI SOLUTIONS LIMITED,entity,NaN,NaN,help@CAPRI.SOLUTIONS.LxMITED.de,typo,10016805
7,12133421,Crossmatch S.A.,officer,"Akara building 24 De Castro Street, Wickham Ca...",NaN,CrossmatchSA@aol.gov,original,12133421
8,12126772,LAURENCE POUNTNEY LTD,officer,Akara Building 24 De Castro St; Wickham Cay I;...,NaN,support@LAURENCE.POUNTNEY.LTD.gov,original,12126772
9,11002523,"BREIT, MARCUS",intermediary,NaN,4.401803e+11,NaN,original,11002523

In [3]:
import string
import unidecode
def create_name_letters_matrix(df):
    df = df[['record_id','name']]
    df.name = df.name.astype(str) # convert to string
    df.name = df.name.str.lower() # lowercase
    df.name = df.name.str.translate(str.maketrans('', '', string.punctuation)) # remove punctuation
    # remove accented letters
    no_accents = []
    for s in df.name:
        no_accents.append(unidecode.unidecode(s))
    df.name = no_accents
    # create return matrix
    columns = ['record_id','name','a','b','c','d','e','f','g','h','i','j','k','l',
               'm','n','o','p','q','r','s','t','u','v','w','x','y','z']
    name_letters_matrix = pd.DataFrame(columns=columns)
    name_letters_matrix.record_id = df.record_id.copy()
    name_letters_matrix.name = df.name.copy()
    # count occurence of each letter and add the columns to the return df
    for l in tqdm(['a','b','c','d','e','f','g','h','i','j','k','l','m','n',
                   'o','p','q','r','s','t','u','v','w','x','y','z']):
        new_col = []
        for (i,n) in zip(name_letters_matrix.index, name_letters_matrix.name):
            new_col.append(n.count(l))
        name_letters_matrix[l] = new_col
    return name_letters_matrix

In [4]:
create_name_letters_matrix(df_train)

c:\users\blueace17\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

HBox(children=(IntProgress(value=0, max=26), HTML(value='')))

,record_id,name,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
0,10111147-T1,ardia enterprisesmltd,2,0,0,2,3,0,0,0,2,0,0,1,1,1,0,1,0,3,2,2,0,0,0,0,0,0
1,12172071-T0,andre almeida blanco,4,1,1,2,2,0,0,0,1,0,0,2,1,2,1,0,0,1,0,0,0,0,0,0,0,0
2,10104491-T1,moonta holdings ltd,1,0,0,2,0,0,1,1,1,0,0,2,1,2,3,0,0,0,1,2,0,0,0,0,0,0
3,10068808,springfield investments group limited,0,0,0,2,4,1,2,0,5,0,0,2,2,3,1,2,0,2,3,3,1,1,0,0,0,0
4,13011715,grigory uvarov,1,0,0,0,0,0,2,0,1,0,0,0,0,0,2,0,0,3,0,0,1,2,0,0,1,0
5,10105687,odin group investments sa,1,0,0,1,2,0,1,0,2,0,0,0,1,3,2,1,0,1,3,2,1,1,0,0,0,0
6,10016805-T2,capri solutions limited,1,0,1,1,1,0,0,0,4,0,0,2,1,1,2,1,0,1,2,2,1,0,0,0,0,0
7,12133421,crossmatch sa,2,0,2,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,3,1,0,0,0,0,0,0
8,12126772,laurence pountney ltd,1,0,1,1,3,0,0,0,0,0,0,2,0,3,1,1,0,1,0,2,2,0,0,0,1,0
9,11002523,breit marcus,1,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,2,1,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691430,10093103,multi sound investments ltd,0,0,0,2,2,0,0,0,2,0,0,2,2,3,1,0,0,0,3,4,2,1,0,0,0,0
691431,10034448-T3,viton business sa,1,1,0,0,1,0,0,0,2,0,0,0,0,2,1,0,0,0,4,1,1,1,0,0,0,0
691432,10078304,taryn limited,1,0,0,1,1,0,0,0,2,0,0,1,1,1,0,0,0,1,0,2,0,0,0,0,1,0
691433,12223684-NV0,bos nominees jersey limited,0,1,0,1,5,0,0,0,3,1,0,1,2,2,2,0,0,1,3,1,0,0,0,0,1,0
691434,11012650,experta ag zurich client,2,0,2,0,3,0,1,1,2,0,0,1,0,1,0,1,0,2,0,2,1,0,0,1,0,1
691435,12104962-NV1,guy paul cosemans,2,0,1,0,1,0,1,0,0,0,0,1,1,1,1,1,0,0,2,0,2,0,0,0,1,0
691436,11011476-M0,anthony chiang partners,3,0,1,0,1,0,1,2,1,0,0,0,0,4,1,1,0,2,1,2,0,0,0,0,1,0
691437,10011211,dennison group inc,0,0,1,1,1,0,1,0,2,0,0,0,0,4,2,1,0,1,1,0,1,0,0,0,0,0
691438,10178054-NV0,harvest top enterprises limited,1,0,0,1,5,0,0,1,3,0,0,1,1,1,1,2,0,3,3,4,0,1,0,0,0,0
691439,12118368-T0,unthony pickering,0,0,1,0,1,0,1,1,2,0,1,0,0,3,1,1,0,1,0,1,1,0,0,0,1,0

In [5]:
df_train.name = df_train.name.astype(str) # convert to string
df_train.name = df_train.name.str.lower() # lowercase
df_train.name = df_train.name.str.translate(str.maketrans('', '', string.punctuation)) # remove punctuation
# remove accented letters
no_accents = []
for s in df_train.name:
    no_accents.append(unidecode.unidecode(s))
df_train.name = no_accents
group = df_train[['name', 'linked_id']].groupby('linked_id').apply(lambda x: list(x['name']))

In [6]:
from collections import Counter
link_mc_name = {}
for (l, names) in tqdm(zip(group.keys(), group)):
    link_mc_name[l] = Counter(names).most_common(1)[0][0]

link_mc_name

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

{10000001: 'tiansheng industry and trading co ltd',
 10000002: 'ningbo sunrise enterprises united co ltd',
 10000004: 'skyblue gifts  toys co ltd',
 10000005: 'fortunemaker investments corporation',
 10000006: '8808 holding limited',
 10000007: 'kent development limited',
 10000009: 'amarandan ltd',
 10000010: 'new idea limited',
 10000011: 'hugh power limited',
 10000012: 'ultimate group limited',
 10000014: 'charter mark limited',
 10000015: 'wide international trading co ltd',
 10000018: 'chem dt corp',
 10000019: 'htss et capital limited',
 10000020: 'jie lun investment limited',
 10000021: 'fortune palace limited',
 10000022: 'prestige international corp',
 10000023: 'sunny treasure international limited',
 10000026: 'euro investment capital inc',
 10000027: 'world tools investments corp',
 10000029: 'necy consultants limited',
 10000031: 'aegis infocom inc',
 10000032: 'topline investments limited',
 10000033: 'clarksburg management ltd',
 10000035: 'carpenter nelson  co ltd',
 10000036: 'riviera holdings limited',
 10000039: 'bellevue international france co ltd',
 10000040: 'meiho international co ltd',
 10000045: 'excellence group ltd',
 10000046: 'dc suzhou international ltd',
 10000047: 'coral sea group ltd',
 10000048: 'deltoria trading ltd',
 10000049: 'ample yield international limited',
 10000051: 'nexxgen sourcing ltd',
 10000052: 'atex international co ltd',
 10000053: 'chus enterprise co ltd',
 10000054: 'integrated services for enterprises  ise ltd',
 10000057: 'nemesis trading ltd',
 10000058: 'anglo european investments ltd',
 10000059: 'tetra international ltd',
 10000062: 'cadell investments limited',
 10000064: 'hf capital risk inc',
 10000065: 'advantage dutyfree inc',
 10000066: 'proton sa',
 10000067: 'ideal expert limited',
 10000068: 'profit view limited',
 10000069: 'chem nt corp',
 10000070: 'advanced vision design international ltd',
 10000071: 'wish glide international co ltd',
 10000072: 'wealthy ocean limited',
 10000073: 'rorever faithbfinance ltdi',
 10000075: 'ciel sa',
 10000076: 'oag international ltd',
 10000077: 'gemtex limited',
 10000079: 'first national assets management ltd',
 10000080: 'mediolanum capital inc',
 10000085: 'selene ltd',
 10000086: 'nartuk ltd',
 10000087: 'goodrich intl co ltd',
 10000089: 'syren limited',
 10000090: 'wingate enterprises limited',
 10000092: 'maisie limited',
 10000095: 'beacon of creation international co ltd',
 10000096: 'caspar international co ltd',
 10000098: 'property development finance inc',
 10000099: 'moroccan properties ltd',
 10000101: 'high investment ltd',
 10000102: 'lexiin grqup ltd',
 10000103: 'jota engineering ltd',
 10000105: 'kendon real estate limited',
 10000106: 'oxford minds limited',
 10000108: 'enchante sa',
 10000109: 'international race publicity ltd',
 10000110: 'bender finanz ag',
 10000111: 'optima investments ltd',
 10000112: 'farramendos ltd',
 10000113: 'glarrolands ltd',
 10000114: 'wonderful world enterprises limited',
 10000115: 'grandrich international limited',
 10000117: 'magic leisure corp ltd',
 10000119: 'portville limited',
 10000121: 'vadin services sa',
 10000122: 'nnc international limited',
 10000123: 'sunshine sourcing ltd',
 10000124: 'eberhart finanz ag',
 10000125: 'red green finance ltd',
 10000126: 'victory service ltd',
 10000127: 'best idea group ltd',
 10000129: 'gazel limited',
 10000131: 'pheonix group ltd',
 10000132: 'mile oak limited',
 10000133: 'sanwin international corp',
 10000134: 'teamfair investments limited',
 10000135: 'bright sky limited',
 10000137: 'safc automotive corporation',
 10000140: 'joyce gain investments limited',
 10000142: 'universe finance ltd',
 10000143: 'bluesky group ltd',
 10000144: 'spring pine limited',
 10000145: 'cosmetic holding group ltd',
 10000151: 'popplewell limited',
 10000152: 'fortune ltd',
 10000153: 'sunway intl samoa ltd',
 10000156: 'red dragon limited',
 10000159: 'pacific horizon holdings inc',
 10000164: 'galileo investment limited',
 10000166: 'guisborough properties inc',
 10000167: 'boroughbridge inc',
 10000168: 'ocedn miew international inc',
 10000170: 'solomon technology co ltd',
 10000171: 'china international ltd',
 10000172: 'far way limited',
 10000173: 'townside limited',
 10000175: 'excellent asia technologies limited',
 10000176: 'asian power trade limited',
 10000178: 'watches sa',
 10000180: 'eldridge management corp',
 10000181: 'sellers union co ltd',
 10000182: 'sunjoy international limited',
 10000183: 'mondale services sa',
 10000184: 'buenas ltd',
 10000185: 'sunshine biological pharmacy co ltd',
 10000186: 'seaways fine art ltd',
 10000187: 'newald development corp',
 10000189: 'dalian hongji shipbuilding technology development co ltd',
 10000190: 'kinghall investment co ltd',
 10000191: 'wanger limited',
 10000192: 'falbert limited',
 10000193: 'strait cultural exchange association limited',
 10000195: 'viewside international sa',
 10000197: 'dynamic ocean limited',
 10000199: 'gain luck limited',
 10000200: 'miracle faith limited',
 10000201: 'alexander ag',
 10000202: 'pillow limited',
 10000203: 'crystal consultants international inc',
 10000204: 'amber corporation',
 10000207: 'kzf investment limited',
 10000208: 'radiant management inc',
 10000209: 'lionmaster ltd',
 10000212: 'babington finance inc',
 10000213: 'terza management inc',
 10000214: 'wide ball international limited',
 10000215: 'hetai international investment ltd',
 10000216: 'hardwickes financial sa',
 10000217: 'exclusive publishing corporation sa',
 10000219: 'perfumes internacionales co ltd',
 10000220: 'gilander international limited',
 10000221: 'saffron investments limited',
 10000222: 'tigerin limited',
 10000223: 'staroil ltd',
 10000226: 'jade power limited',
 10000227: 'silverwing properties sa',
 10000228: 'baba communications ltd',
 10000229: 'first euro corp',
 10000230: 'blue crest corporation',
 10000232: 'goldmax development ltd',
 10000233: 'rich asian group ltd',
 10000235: 'wins top enterprises limited',
 10000236: 'delight view international ltd',
 10000237: 'our medical services ltd',
 10000239: 'marlin group inc',
 10000240: 'uba capital europe limited',
 10000242: 'rst corp',
 10000245: 'new asia pacific group co ltd',
 10000246: 'asiarack ltd',
 10000247: 'profit world ltd',
 10000248: 'world union industrial co ltd',
 10000249: 'sheng tang international co ltd',
 10000250: 'allextra technology co ltd',
 10000251: 'sky motion holdings limited',
 10000253: 'y  s holdings co ltd',
 10000254: 'wsh trading coltd',
 10000255: 'wan feng industrial limited',
 10000256: 'cheer gen technology coltd',
 10000257: 'cornwood international limited',
 10000258: 'ultra power investment limited',
 10000259: 'strong international limited',
 10000260: 'fullworld international co ltd',
 10000261: 'ganton sa',
 10000262: 'easywealth development ltd',
 10000264: 'newport group corp',
 10000265: 'cross consulting ltd',
 10000266: 'mossack fonseca  co samoa limited',
 10000267: 'best group ltd',
 10000268: 'hugh profit limited',
 10000273: 'powerful enterprises limited',
 10000274: 'winda co ltd',
 10000276: 'condatorres ltd',
 10000277: 'fulanson ltd',
 10000281: 'chinj star steel industrial atd trading co ltd',
 10000282: 'qing internitional corpohation',
 10000285: 'shandong shengtai wheel co ltd',
 10000287: '8886 holding limited',
 10000289: 'goldgarment company limited',
 10000291: 'ample gain limited',
 10000293: 'kenster investment limited',
 10000294: 'cayenne trading ltd',
 10000295: 'ferret limited',
 10000296: 'morland holding inc',
 10000300: 'jade  victory limited',
 10000301: 'interactive management  consulting ltd',
 10000302: 'tsim sha tsui investment limited',
 10000303: 'gold source international ltd',
 10000305: 'strong field ltd',
 10000306: 'kantalis ltd',
 10000308: 'mizuno thodo co ltd',
 10000309: 'super import group limited',
 10000310: 'zest inc',
 10000311: 'rongfeng international trading coltd',
 10000312: 'jadewin consultants limited',
 10000314: 'first leeds properties inc',
 10000315: 'arton enterprises corp',
 10000316: 'first directors limited',
 10000320: 'sd poly co ltd',
 10000321: 'across nation limited',
 10000323: 'carlton ocean developmentuliaited',
 10000325: 'gain bright ltd',
 10000326: 'golden tone international limited',
 10000327: 'perfect world development limited',
 10000328: 'mossack fonseca  co czech inc',
 10000330: 'qd sei shou trading coltd',
 10000331: 'alga architecture sa',
 10000332: 'pine rich enterprises limited',
 10000333: 'china mining investments holdings limited',
 10000334: 'sunny power limited',
 10000335: 'ballydehob inc',
 10000338: 'whitby inc',
 10000340: 'holderness inc',
 10000341: 'hissens ltd',
 10000342: 'shine ocean limited',
 10000345: 'global success enterprises ltd',
 10000346: 'maxwell enterprises limited',
 10000347: 'asia ocean limittd',
 10000348: 'heather trail limited',
 10000353: 'sunbridge investmegts zimited',
 10000354: 'fast perfect limited',
 10000357: 'main profit investment ltd',
 10000359: 'anglo canadian investment corporation',
 10000360: 'seacrest corporation',
 10000361: 'upper time limited',
 10000362: 'capital investment holdings inc',
 10000364: 'leo maritime  trading corp',
 10000365: 'mossack fonseca  co panama ltd',
 10000366: 'hoard global financial ltd',
 10000367: 'beifang metal trading limited',
 10000368: 'sun faith co ltd',
 10000372: 'southeast mariner international co ltd',
 10000373: 'sunrich international investment limited',
 10000374: 'baode international machinery company limited',
 10000376: 'rag international trading inc',
 10000377: 'uas far east leasing inc',
 10000378: 'ever young group limited',
 10000379: 'keira enterprises corp',
 10000380: 'nelson holdings limited',
 10000381: 'oedhill financial cvrc',
 10000382: 'stebbings investments corporation',
 10000383: 'mesk 1803 dubai limited',
 10000384: 'sarah investment limited',
 10000385: 'sensor international inc',
 10000387: 'calne inc',
 10000390: 'eastwood holdings limited',
 10000391: 'prisma holdings llc',
 10000393: 'china holding management sa',
 10000394: 'smart inc',
 10000395: 'villette associates inc',
 10000396: 'antigua equities sa',
 10000397: 'tolux inc',
 10000399: 'santorini group ltd',
 10000400: 'knight enterprises limited',
 10000402: 'hanpo investment co limited',
 10000403: 'gcm trading co ltd',
 10000404: 'sowona international co ltd',
 10000405: 'shengyuan international co ltd',
 10000406: 'green link international corp',
 10000409: 'elegant house ware co ltd',
 10000410: 'huijing trading limited',
 10000411: 'human diagnostics corporation',
 10000413: 'sea wealth limited',
 10000414: 'dragon fashion co ltd',
 10000415: 'tryer international inc',
 10000416: 'great ocean limited',
 10000417: 'giga sports inc',
 10000418: 'dragon star international limited',
 10000419: 'china coast freight co ltd',
 10000422: 'ningbo yihwei chemicals co ltd',
 10000425: 'yelloway ltd',
 10000426: 'stone canyon corporation',
 10000427: 'new frontier limited',
 10000428: 'silver target international limited',
 10000430: 'jenford investments ltd',
 10000432: 'goodsky limited',
 10000433: 'sea land intl inc',
 10000434: 'intersul chemical corporation',
 10000435: 'jia wey company ltd',
 10000436: 'finance management nominees ltd',
 10000437: 'tony keith associates limited',
 10000438: 'global west ltd',
 10000439: 'alpha furnishing corporation',
 10000440: 'gaogmau international inc',
 10000441: 'sugar and commodities ltd',
 10000442: 'strategic management finance asia int ltd',
 10000443: 'kelland corporation',
 10000445: 'uniglobal corporation limited',
 10000449: 'acanthus investments ltd',
 10000452: 'micht financial inc',
 10000453: 'king intl trading inc',
 10000454: 'new silk road shipping limited',
 10000455: 'strategic communication euro int ltd',
 10000456: 'chia sheng international limited',
 10000457: 'mcs services limited',
 10000458: 'ic  improvement inc',
 10000459: 'richlake development ltd',
 10000460: 'point trading co ltd',
 10000461: 'deshon tyres pty ltd',
 10000462: 'grandwin international co ltd',
 10000463: 'kelby limited',
 10000464: 'lorimar international sa',
 10000465: 'polymount international ltd',
 10000466: 'hellenic international ltd',
 10000467: 'mega yield international co ltd',
 10000468: 'qingdao spark logistics appliance co ltd',
 10000469: 'top group ltd',
 10000471: 'ocean winner ltd',
 10000473: 'xiang ding investment limited',
 10000474: 'cheerful smile ltd',
 10000475: 'clearfield holdings ltd',
 10000476: 'acntr china tire co ltd',
 10000478: 'southwest mariner international co ltd',
 10000480: 'jaral properties ltd',
 10000482: 'wynn international group co ltd',
 10000483: 'butterfly holdings limited',
 10000485: 'hilton star limited',
 10000486: 'copper link international limited',
 10000487: 'glory world technologies limited',
 10000488: 'bromwich corporation',
 10000489: 'pollux inc',
 10000490: 'shine leaf co ltd',
 10000491: 'mei bao ltd',
 10000492: 'sirasa group sa',
 10000493: 'bahia blanca ltd',
 10000494: 'wonders technology limited',
 10000495: 'international mobelselection ims aktiengesellschaft co ltd',
 10000496: 'wah fung investment ltd',
 10000497: 'daiichi intl ltd',
 10000501: 'anczhl international inc limited',
 10000503: 'stanson technology corp',
 10000505: 'big ben ltd',
 10000506: 'contex technology co ltd',
 10000508: 'opalia sa',
 10000509: 'union ocean investment co ltd',
 10000510: 'sound financy limigxd',
 10000511: 'decimus holdings limited',
 10000513: 'chipsun international company limited',
 10000514: 'kingston properties inc',
 10000515: 'fridaythorpe inc',
 10000518: 'selkirk international ltd',
 10000520: 'geen international ltd',
 10000521: 'zhejiang chaosheng shipping co ltd',
 10000522: 'lok man group limited',
 10000523: 'south coast ltd',
 10000524: 'american pacific international sa',
 10000525: 'gravene ltd',
 10000526: 'eastern international group co ltd',
 10000528: 'opaq limited',
 10000529: 'rsp co ltd',
 10000530: 'advance vision enterprises ltd',
 10000531: 'ever rise engineering limited',
 10000535: 'sanlon international coltd',
 10000536: 'altona fashion corporation',
 10000537: 'delney sa                 shelf',
 10000539: 'castle howard inc',
 10000540: 'jebel ali carton factory inc',
 10000541: 'davest enterprises sa',
 10000542: 'reighton inc',
 10000544: 'free style international co ltd',
 10000545: 'yuan hang international limited',
 10000546: 'welser consultants sa',
 10000547: 'withernesea inc',
 10000548: 'wining luck limited',
 10000551: 'crestfield limited',
 10000552: 'laser co ltd',
 10000553: 'yuheng co ltd',
 10000557: 'bluebird properties inc',
 10000558: 'novar capital corp',
 10000559: 'mjb wood group inc',
 10000561: 'golden bay limited',
 10000562: 'winterwood holding inc',
 10000563: 'janelle holding inc',
 10000567: 'jiacheng plastic limited',
 10000568: 'home well intl ltd',
 10000569: 'quantum global services limited',
 10000571: 'wellee international ltd',
 10000572: 'first shareholders limited',
 10000573: 'newscott investments limited',
 10000574: 'uks services ltd',
 10000575: 'southgate estates sa',
 10000576: 'pacalmar investments sa',
 10000577: 'solitude ltd',
 10000578: 'greentech development co ltd',
 10000579: 'vostokmore co ltd',
 10000580: 'granaris llp',
 10000581: 'barnes  miles ltd',
 10000582: 'eastchem international limited',
 10000583: 'denwood limited',
 10000584: 'crie llp',
 10000585: 'hunborton llp',
 10000586: 'wellshore investments limited',
 10000587: 'newlife ltd',
 10000589: 'howden enterprises inc',
 10000590: 'neston enterprises inc',
 10000591: 'industrial projects  management consultants inc',
 10000592: 'bowen investment limited',
 10000594: 'grand pattern group limited',
 10000595: 'rockmaui wear co ltd',
 10000596: 'ningbo everwin intl co ltd',
 10000597: 'general merchandise group corp ltd',
 10000598: 'ningbo sunlit machinery  equipment co ltd',
 10000599: 'jiaduomei jewelry hongkong limited',
 10000600: 'don cero industrial inc',
 10000601: 'sunlong ind  trade co ltd',
 10000603: 'phinikko luggage manufacturer co ltd',
 10000604: 'vance corporation',
 10000605: 'typhoon explorer ltd',
 10000606: 'sunshine ocean development ltd',
 10000607: 'china minerals overseas investment group ltd',
 10000608: 'star moon investment group limited',
 10000609: 'morgan equity inc',
 10000610: 'eastern well industrial co ltd',
 10000611: 'jinsun electronics co ltd',
 10000615: 'll fortune holdings limited',
 10000616: 'good idea group ltd',
 10000617: 'mabrouk ltd',
 10000619: 'jantex international limited',
 10000621: 'super star enterprises limited',
 10000623: 'rider international co ltd',
 10000625: 'golanta limited',
 10000626: 'glenle holdings limited',
 10000628: 'sunbeam group company limited',
 10000629: 'fortune woods ltd',
 10000630: 'carson holdings limited',
 10000631: 'holock investment inc',
 10000633: 'global resources inc',
 10000634: 'golden mass investment limited',
 10000635: 'euroshoes fashion estates ltd',
 10000636: 'oold fieance limited',
 10000637: 'toxie international limited',
 10000638: 'full shine holdings ltd',
 10000639: 'three v rubber belt co ltd',
 10000641: 'akcclimited',
 10000642: 'sea keen shipping limited',
 10000644: 'fidentia international llp',
 10000646: 'oc management limited',
 10000647: 'great rise trading limited',
 10000648: 'euro finance limited',
 10000652: 'franstone international limited',
 10000653: 'xenon trading sa',
 10000655: 'costela associates inc',
 10000656: 'golden breeze ltd',
 10000657: 'international merchants and investment co ltd',
 10000658: 'gramon hill investments ltd',
 10000660: 'wonderland trade and finance limited',
 10000661: 'us united logistics inc',
 10000662: 'brookshire financial group ltd',
 10000663: 'main group ltd',
 10000664: 'cedora corporation limited',
 10000665: 'new chengtai lighting co ltd',
 10000666: 'east pearl holdings ltd',
 10000667: 'swav holding ltd',
 10000668: 'cheer eagle group limited',
 10000669: 'wing lun limited',
 10000670: 'walbray trading ltd',
 10000672: 'kowen group limited',
 10000674: 'watherm international limited',
 10000675: 'china power international group limited',
 10000676: 'ulman corporation',
 10000678: 'salton data inc',
 10000679: 'future investment holdings limited',
 10000680: 'global telecoms solutions ltd',
 10000681: 'focuspower investment inc',
 10000682: 'proton investment corporation',
 10000683: 'million ocean international limited',
 10000684: 'million well limited',
 10000685: 'olympia capital research ltd',
 10000686: 'golden bridge limited',
 10000687: 'newroad apparel co ltd',
 10000691: 'auswin industries ltd',
 10000693: 'enrich mind limited',
 10000694: 'napp services limited',
 10000695: 'buckingham electronics inc',
 10000696: 'zeo international co ltd',
 10000697: 'finegift industrial co ltd',
 10000699: 'calico limited',
 10000700: 'harley international limited',
 10000701: 'fuhkang investment ltd',
 10000702: 'welldone technology co limited',
 10000704: 'yes well corp ltd',
 10000705: 'new plus arts company limited',
 10000706: 'forever wonderful trading hk limited',
 10000707: 'arawak international limited',
 10000708: 'hardware world ltd',
 10000710: 'first limited',
 10000711: 'dong ho accessory ltd',
 10000712: 'petrotek sa',
 10000713: 'na real estate finance ltd',
 10000714: 'tarsal limited',
 10000715: 'c  y investment co ltd',
 10000716: 'fully always limited',
 10000718: 'main gain international limited',
 10000719: 'wake technology development inc',
 10000721: 'gain bright intl ltd',
 10000722: 'top choice group limited',
 10000724: 'the gzldie corporation',
 10000725: 'preston capital limited',
 10000726: 'squire trading inc',
 10000727: 'hills light development limited',
 10000729: 'lanson industrial limited',
 10000730: 'ecocom ltd',
 10000731: 'new horizons trading corp',
 10000732: 'esinsa sa',
 10000733: 'the luxury corporation',

In [7]:
most_common_name = pd.DataFrame.from_dict(link_mc_name, orient='index', columns=['most_common_name'])
df_train_clean = pd.merge(df_train, most_common_name, how='left', left_on='linked_id', right_index=True)

In [8]:
df_train_clean

,record_id,name,type,address,phone,email,modification,linked_id,most_common_name
0,10111147-T1,ardia enterprisesmltd,entity,NaN,4.102971e+12,imquires@zoho.vo,typo,10111147,aldia enterprises ltd
1,12172071-T0,andre almeida blanco,officer,la Rua Pelotas; 209; apartamento 72; Bloco A; ...,NaN,NaN,typo,12172071,andre almeida blanco
2,10104491-T1,moonta holdings ltd,entity,NaN,6.501346e+10,NaN,typo,10104491,moonta holdings ltd
3,10068808,springfield investments group limited,entity,NaN,NaN,consulting@zoho.de,original,10068808,springfield investments group limited
4,13011715,grigory uvarov,officer,127273; MOSCOW; OTRADNAJA STREET; HOUSE 2; NO....,NaN,NaN,original,13011715,grigory uvarov
5,10105687,odin group investments sa,entity,NaN,4.966891e+10,info@outlook.cz,original,10105687,odin group investments sa
6,10016805-T2,capri solutions limited,entity,NaN,NaN,help@CAPRI.SOLUTIONS.LxMITED.de,typo,10016805,capri solutions limited
7,12133421,crossmatch sa,officer,"Akara building 24 De Castro Street, Wickham Ca...",NaN,CrossmatchSA@aol.gov,original,12133421,crossmatch sa
8,12126772,laurence pountney ltd,officer,Akara Building 24 De Castro St; Wickham Cay I;...,NaN,support@LAURENCE.POUNTNEY.LTD.gov,original,12126772,laurence pountney ltd
9,11002523,breit marcus,intermediary,NaN,4.401803e+11,NaN,original,11002523,breit marcus
...,...,...,...,...,...,...,...,...,...
691430,10093103,multi sound investments ltd,entity,NaN,4.428641e+11,inquires@icloud.co.uk,original,10093103,multi sound investments ltd
691431,10034448-T3,viton business sa,entity,NaN,NaN,NaN,typo,10034448,viton business sa
691432,10078304,taryn limited,entity,NaN,NaN,help@TARYN.LIMITED.gov,original,10078304,taryn limited
691433,12223684-NV0,bos nominees jersey limited,officer,THIRD FLOOR; FORUM HOUSE; GREVILLE STREET; ST....,NaN,NaN,new_value,12223684,bos nominees jersey limited
691434,11012650,experta ag zurich client,intermediary,NaN,NaN,NaN,original,11012650,experta ag zurich client
691435,12104962-NV1,guy paul cosemans,officer,20 Papenackkerstraat 3570 Alken Belgium,4.204098e+11,NaN,new_value,12104962,guy paul cosemans
691436,11011476-M0,anthony chiang partners,intermediary,NaN,NaN,NaN,missing,11011476,anthony chiang partners
691437,10011211,dennison group inc,entity,NaN,3.976421e+09,NaN,original,10011211,dennibon grouv inc
691438,10178054-NV0,harvest top enterprises limited,entity,NaN,4.986637e+10,NaN,new_value,10178054,harvest top enterprises limited
691439,12118368-T0,unthony pickering,officer,4c Chapman Road; Fulwooo; Preston; bancs; PR2 8NY,3.380244e+11,NaN,typo,12118368,anthony pickering

In [9]:
df_train_clean = df_train_clean.drop_duplicates(subset=['linked_id','most_common_name']).drop(['record_id', 'name'], axis=1)

In [10]:
df_train_clean = df_train_clean.rename(columns={"linked_id":"record_id", "most_common_name":"name"})

In [11]:
m_train = create_name_letters_matrix(df_train_clean)

HBox(children=(IntProgress(value=0, max=26), HTML(value='')))

In [12]:
df_test = pd.read_csv("../dataset/original/test.csv", escapechar="\\")

df_test

,record_id,name,type,address,phone,email,modification
0,10051937-TST-MR,CHEYHAM CORPORATION LIMITED,entity,NaN,1.986537e+10,sales@protonmail.com,move unique
1,10070762-TST-MR,MEABIZ LIMITED,entity,NaN,3.374033e+11,NaN,move unique
2,10000304-TST-MR,CHAMPLE INVESTMENTS LTD.,entity,NaN,4.142094e+12,NaN,move unique
3,10151607-TST-MR,Concept I Media and Technology Company Limited,entity,NaN,1.480354e+10,NaN,move unique
4,10124701-TST-MR,ARRA RESOURCES LIMITED,entity,NaN,4.207630e+11,NaN,move unique
5,10140018-TST-MR,RONCO INVESTMENT ESTATES CORP.,entity,NaN,3.326372e+11,NaN,move unique
6,10012709-TST-MR,MIREN ENTERPRISES S.A.,entity,NaN,NaN,MIRENENTERPRISESSA@outlook.it,move unique
7,10127252-TST-MR,WHITE CONCEPT GROUP LIMITED,entity,NaN,1.801344e+10,NaN,move unique
8,12167036-TST-MR,ZHANG ZI TONG,officer,No. 102; Unit 11; 5th Floor; Tu Er hu tong; Do...,4.209771e+11,ZHANGZITONG@icloud.de,move unique
9,10088906-TST-MR,FRESHCAM CORP.,entity,NaN,NaN,NaN,move unique
...,...,...,...,...,...,...,...
266945,10153723-NV0,Aubretia Holdings Ltd,entity,NaN,3.950511e+09,NaN,modified copy
266946,10014331-T2,AVENTINE HOLDINGS S.A.,entity,NaN,4.915048e+10,NaN,modified copy
266947,10063178-NV0,GOLD JUMBO HOLDINGS LTD.,entity,NaN,NaN,NaN,modified copy
266948,12063754-T0,ALwEGRO OVERSEAy S.A.,officer,NaN,4.933362e+10,NaN,modified copy
266949,12143154-T1,CHURCH STREET TRUSTEES as trustees of the GBA ...,officer,CHARTER PLACE; 23o27 SEATON PLACE; ST pELuER; ...,NaN,NaN,modified copy
266950,12081737-T0,FUNDACIÓj JkSUS EN TI CONFÍO,officer,NaN,4.113049e+12,NaN,modified copy
266951,10072017-NV0,ARROW CONTRACTORS CORPORATION,entity,NaN,3.317860e+11,sales@protonmail.gov,modified copy
266952,10042968-T1,Taiga Management Corp.,entity,NaN,4.208255e+11,NaN,modified copy
266953,10124229-M1,DELAFIELD COMMERCIAL LTD.,entity,NaN,1.480357e+10,contact@icloud.de,modified copy
266954,10026054-NV0,TEEBONE S.A.,entity,NaN,3.303421e+11,NaN,modified copy

In [13]:
m_test = create_name_letters_matrix(df_test)

HBox(children=(IntProgress(value=0, max=26), HTML(value='')))

In [14]:
m_train = m_train.reset_index(drop=True)

In [15]:
m_train

,record_id,name,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
0,10111147,aldia enterprises ltd,2,0,0,2,3,0,0,0,2,0,0,2,0,1,0,1,0,2,2,2,0,0,0,0,0,0
1,12172071,andre almeida blanco,4,1,1,2,2,0,0,0,1,0,0,2,1,2,1,0,0,1,0,0,0,0,0,0,0,0
2,10104491,moonta holdings ltd,1,0,0,2,0,0,1,1,1,0,0,2,1,2,3,0,0,0,1,2,0,0,0,0,0,0
3,10068808,springfield investments group limited,0,0,0,2,4,1,2,0,5,0,0,2,2,3,1,2,0,2,3,3,1,1,0,0,0,0
4,13011715,grigory uvarov,1,0,0,0,0,0,2,0,1,0,0,0,0,0,2,0,0,3,0,0,1,2,0,0,1,0
5,10105687,odin group investments sa,1,0,0,1,2,0,1,0,2,0,0,0,1,3,2,1,0,1,3,2,1,1,0,0,0,0
6,10016805,capri solutions limited,1,0,1,1,1,0,0,0,4,0,0,2,1,1,2,1,0,1,2,2,1,0,0,0,0,0
7,12133421,crossmatch sa,2,0,2,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,3,1,0,0,0,0,0,0
8,12126772,laurence pountney ltd,1,0,1,1,3,0,0,0,0,0,0,2,0,3,1,1,0,1,0,2,2,0,0,0,1,0
9,11002523,breit marcus,1,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,2,1,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267234,10039743,famous enterprises ltd,1,0,0,1,3,1,0,0,1,0,0,1,1,1,1,1,0,2,3,2,1,0,0,0,0,0
267235,12027150,younis mohamed,1,0,0,1,1,0,0,1,1,0,0,0,2,1,2,0,0,0,1,0,1,0,0,0,1,0
267236,10009173,alderwood trading inc,2,0,1,3,1,0,1,0,2,0,0,1,0,2,2,0,0,2,0,1,0,0,1,0,0,0
267237,12116155,renaissance insignia limited,3,0,1,1,3,0,1,0,6,0,0,1,1,4,0,0,0,1,3,1,0,0,0,0,0,0
267238,12133082,costa pierantonio,2,0,1,0,1,0,0,0,2,0,0,0,0,2,3,1,0,1,1,2,0,0,0,0,0,0
267239,12113663,ms keng yok lan,1,0,0,0,1,0,1,0,0,0,2,1,1,2,1,0,0,0,1,0,0,0,0,0,1,0
267240,10097974,greatbo group ltd,1,1,0,1,1,0,2,0,0,0,0,1,0,0,2,1,0,2,0,2,1,0,0,0,0,0
267241,12090364,chen shumin,0,0,1,0,1,0,0,2,1,0,0,0,1,2,0,0,0,0,1,0,1,0,0,0,0,0
267242,10093103,multi sound investments ltd,0,0,0,2,2,0,0,0,2,0,0,2,2,3,1,0,0,0,3,4,2,1,0,0,0,0
267243,10078304,taryn limited,1,0,0,1,1,0,0,0,2,0,0,1,1,1,0,0,0,1,0,2,0,0,0,0,1,0

In [16]:
m_test

,record_id,name,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
0,10051937-TST-MR,cheyham corporation limited,2,0,2,1,2,0,0,2,3,0,0,1,2,1,3,1,0,2,0,2,0,0,0,0,1,0
1,10070762-TST-MR,meabiz limited,1,1,0,1,2,0,0,0,3,0,0,1,2,0,0,0,0,0,0,1,0,0,0,0,0,1
2,10000304-TST-MR,chample investments ltd,1,0,1,1,3,0,0,1,1,0,0,2,2,2,0,1,0,0,2,3,0,1,0,0,0,0
3,10151607-TST-MR,concept i media and technology company limited,3,0,4,3,4,0,1,1,4,0,0,2,3,4,4,2,0,0,0,3,0,0,0,0,2,0
4,10124701-TST-MR,arra resources limited,2,0,1,1,3,0,0,0,2,0,0,1,1,0,1,0,0,4,2,1,1,0,0,0,0,0
5,10140018-TST-MR,ronco investment estates corp,1,0,2,0,4,0,0,0,1,0,0,0,1,3,3,1,0,2,3,4,0,1,0,0,0,0
6,10012709-TST-MR,miren enterprises sa,1,0,0,0,4,0,0,0,2,0,0,0,1,2,0,1,0,3,3,1,0,0,0,0,0,0
7,10127252-TST-MR,white concept group limited,0,0,2,1,3,0,1,1,3,0,0,1,1,1,2,2,0,1,0,3,1,0,1,0,0,0
8,12167036-TST-MR,zhang zi tong,1,0,0,0,0,0,2,1,1,0,0,0,0,2,1,0,0,0,0,1,0,0,0,0,0,2
9,10088906-TST-MR,freshcam corp,1,0,2,0,1,1,0,1,0,0,0,0,1,0,1,1,0,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266945,10153723-NV0,aubretia holdings ltd,2,1,0,2,1,0,1,1,2,0,0,2,0,1,1,0,0,1,1,2,1,0,0,0,0,0
266946,10014331-T2,aventine holdings sa,2,0,0,1,2,0,1,1,2,0,0,1,0,3,1,0,0,0,2,1,0,1,0,0,0,0
266947,10063178-NV0,gold jumbo holdings ltd,0,1,0,3,0,0,2,1,1,1,0,3,1,1,3,0,0,0,1,1,1,0,0,0,0,0
266948,12063754-T0,alwegro overseay sa,3,0,0,0,3,0,1,0,0,0,0,1,0,0,2,0,0,2,2,0,0,1,1,0,1,0
266949,12143154-T1,church street trustees as trustees of the gba ...,2,2,3,1,13,2,1,3,2,0,0,1,2,2,1,0,0,8,7,10,5,0,0,0,0,0
266950,12081737-T0,fundacioj jksus en ti confio,1,0,2,1,1,2,0,0,3,2,1,0,0,3,3,0,0,0,2,1,2,0,0,0,0,0
266951,10072017-NV0,arrow contractors corporation,3,0,3,0,0,0,0,0,1,0,0,0,0,2,6,1,0,6,1,3,0,0,1,0,0,0
266952,10042968-T1,taiga management corp,4,0,1,0,2,0,2,0,1,0,0,0,2,2,1,1,0,1,0,2,0,0,0,0,0,0
266953,10124229-M1,delafield commercial ltd,2,0,2,3,3,1,0,0,2,0,0,4,2,0,1,0,0,1,0,1,0,0,0,0,0,0
266954,10026054-NV0,teebone sa,1,1,0,0,3,0,0,0,0,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0,0,0

In [17]:
from scipy import *
from scipy.sparse import *
import numpy as np
m_train_csr = csr_matrix(m_train.drop(['record_id','name'], axis=1))
m_test_csr = csr_matrix(m_test.drop(['record_id','name'], axis=1))

In [18]:
import similaripy as sim
output = sim.cosine(m_test_csr, m_train_csr.T, k=10)
save_npz('similarity_cosine_notebook_2.npz', output.tocsr())

Done: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 266955/266955 [09:20<00:00, 476.60it/s]

In [117]:
sub = df_test[['record_id','name']]

sub

In [130]:
new_col = []
out_csr = output.tocsr()
for i in tqdm(range(out_csr.shape[0])):
    new_col.append(m_train.at[out_csr[i].argmax(), "record_id"])

HBox(children=(IntProgress(value=0, max=266955), HTML(value='')))

In [131]:
sub['predicted_record_id'] = new_col

c:\users\blueace17\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [132]:
sub

,record_id,name,predicted_record_id
0,10051937-TST-MR,CHEYHAM CORPORATION LIMITED,10110955
1,10070762-TST-MR,MEABIZ LIMITED,10152752
2,10000304-TST-MR,CHAMPLE INVESTMENTS LTD.,10147496
3,10151607-TST-MR,Concept I Media and Technology Company Limited,10101898
4,10124701-TST-MR,ARRA RESOURCES LIMITED,10125008
5,10140018-TST-MR,RONCO INVESTMENT ESTATES CORP.,10118857
6,10012709-TST-MR,MIREN ENTERPRISES S.A.,10030890
7,10127252-TST-MR,WHITE CONCEPT GROUP LIMITED,12104719
8,12167036-TST-MR,ZHANG ZI TONG,12144506
9,10088906-TST-MR,FRESHCAM CORP.,10028865
...,...,...,...
266945,10153723-NV0,Aubretia Holdings Ltd,10153723
266946,10014331-T2,AVENTINE HOLDINGS S.A.,10014331
266947,10063178-NV0,GOLD JUMBO HOLDINGS LTD.,10063178
266948,12063754-T0,ALwEGRO OVERSEAy S.A.,12071595
266949,12143154-T1,CHURCH STREET TRUSTEES as trustees of the GBA ...,12143154
266950,12081737-T0,FUNDACIÓj JkSUS EN TI CONFÍO,10164980
266951,10072017-NV0,ARROW CONTRACTORS CORPORATION,10072017
266952,10042968-T1,Taiga Management Corp.,10042968
266953,10124229-M1,DELAFIELD COMMERCIAL LTD.,10124229
266954,10026054-NV0,TEEBONE S.A.,10026054