In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

In [2]:
from scipy import *
from scipy.sparse import *
import similaripy as sim
from sklearn.feature_extraction.text import CountVectorizer
import re

In [3]:
import sys
sys.path.append('../')
from xgb_dataset_generation import adding_features
import os

In [4]:
import lightgbm as lgb
import time

/usr/local/lib/python3.7/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

Prendiamo un elemento alla volta dal test, facciamo la similarità di quell'elemento ed estraiamo il top50. Quell'elemento poi verrà predetto. Una volta tirata fuori la predizione di quell'elemento, va aggiunto al train [di LightGBM]: non importa rifare la similarità perché valutando un elemento alla volta sappiamo già dalla similarità che facciamo se quell'elemento è nel train o no.

In [5]:
df_train = pd.read_csv("../dataset/original/train.csv", escapechar="\\")
df_test = pd.read_csv("../dataset/original/test.csv", escapechar="\\")
df_train = df_train.sort_values(by='record_id').reset_index(drop=True)
df_test = df_test.sort_values(by='record_id').reset_index(drop=True)

df_train.linked_id = df_train.linked_id.astype(int)

In [6]:
df_test['linked_id'] = df_test.record_id.str.split("-")
df_test['linked_id'] = df_test.linked_id.apply(lambda x: x[0])
df_test.linked_id = df_test.linked_id.astype(int)
#df_train.linked_id = df_train.linked_id.astype(int)
only_test = set(df_test.linked_id.values) - set(df_train.linked_id.values)
only_test_recordid = df_test[df_test.linked_id.isin(only_test)]
df_test = df_test.drop('linked_id', axis=1)

In [8]:
train1 = pd.read_csv("../dataset/validation_2/train_complete.csv")
train2 = pd.read_csv("../dataset/validation_3/train_complete.csv")
val = pd.read_csv("../dataset/validation/train_complete.csv")

In [9]:
def remove_spaces(s, n=3):
    s = re.sub(' +',' ',s).strip()
    ngrams = zip(*[s[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [10]:
def ngrams_name(test_record, df_train):
    df_train.name = df_train.name.astype(str)
    test_record['name'] = test_record['name'].astype(str)
    corpus = list(df_train.name)
    corpus.append(test_record['name'])
    vectorizer = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X = vectorizer.fit_transform(corpus)
    X_train = X[:df_train.shape[0],:]
    X_test = X[df_train.shape[0]:,:]
    similarity = sim.jaccard(X_test, X_train.T, k=300)
    return similarity.tocsr()

In [11]:
def ngrams_name_fast(test_record, vectorizer, X_train):
#     deve:
#     - prendere il nome del test
#     - vettorizzarlo
#     - calcolare la similarità
#     - ritornare la similarità con una nuova riga e una nuova colonna
#     - ritornare X_train con una nuova riga (la vettorizzazione del nuovo record)
#     ?
    X_test = vectorizer.transform([test_record['name']])
    similarity = sim.jaccard(X_test, X_train.T, k=300).tocsr()
    return similarity.tocsr(), vstack([X_train,X_test])

In [12]:
def ngrams_address(test_record, df_train):
    df_train.address = df_train.address.fillna('').astype(str)
    test_record.address = test_record.fillna({'address':''}).address
    corpus = list(df_train.address)
    corpus.append(test_record.address)
    vectorizer = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X = vectorizer.fit_transform(corpus)
    X_train = X[:df_train.shape[0],:]
    X_test = X[df_train.shape[0]:,:]
    similarity = sim.jaccard(X_test, X_train.T, k=300)
    return similarity.tocsr()

In [13]:
def ngrams_address_fast(test_record, vectorizer, X_train):
    test_record.address = test_record.fillna({'address':''}).address
    X_test = vectorizer.transform([test_record.address])
    similarity = sim.jaccard(X_test, X_train.T, k=300)
    return similarity.tocsr(), vstack([X_train,X_test])

In [14]:
def ngrams_email(test_record, df_train):
    df_train.email = df_train.email.fillna('').astype(str)
    test_record.email = test_record.fillna({'email':''}).email
    corpus = list(df_train.email) 
    corpus.append(test_record.email)
    vectorizer = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X = vectorizer.fit_transform(corpus)
    X_train = X[:df_train.shape[0],:]
    X_test = X[df_train.shape[0]:,:]
    similarity = sim.jaccard(X_test, X_train.T, k=300)
    return similarity.tocsr()

In [15]:
def ngrams_email_fast(test_record, vectorizer, X_train):
    test_record.email = test_record.fillna({'email':''}).email
    X_test = vectorizer.transform([test_record.email])
    similarity = sim.jaccard(X_test, X_train.T, k=300)
    return similarity.tocsr(), vstack([X_train,X_test])

In [16]:
def convert_phones(df_in):
    """
    This functions transforms the phone column from scientific notation to readable string
    format, e.g. 1.2933+E10 to 12933000000
    : param df_in : the original df with the phone in scientific notation
    : return : the clean df
    """
    df = df_in.copy()
    df.phone = df.phone.fillna('').astype(str)
    df.phone = [p.split('.')[0] for p in df.phone]
    return df

def ngrams_phone(test_record, df_train):
    # manually convert test_record phone
    if np.isnan(test_record.phone):
        test_record.phone = test_record.fillna({'phone':''}).phone
    else:
        test_record.phone = test_record.fillna({'phone':''}).phone.astype(str)
    test_record.phone = test_record.phone.split('.')[0]
    df_train = convert_phones(df_train)
    corpus = list(df_train.phone)
    corpus.append(test_record.phone)
    vectorizer = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X = vectorizer.fit_transform(corpus)
    X_train = X[:df_train.shape[0],:]
    X_test = X[df_train.shape[0]:,:]
    similarity = sim.jaccard(X_test, X_train.T, k=300)
    return similarity.tocsr()

In [17]:
def ngrams_phone_fast(test_record, vectorizer, X_train):
    # manually convert test_record phone
    if np.isnan(test_record.phone):
        test_record.phone = test_record.fillna({'phone':''}).phone
    else:
        test_record.phone = test_record.fillna({'phone':''}).phone.astype(str)
    test_record.phone = test_record.phone.split('.')[0]
    X_test = vectorizer.transform([test_record.phone])
    similarity = sim.jaccard(X_test, X_train.T, k=300)
    return similarity.tocsr(), vstack([X_train,X_test])

In [46]:
def expand_df(df):
    df_list = []
    for (q, pred, pred_rec, score, s_name, s_email, s_phone,  idx) in tqdm(
            zip(df.queried_record_id, df.predicted_record_id, df.predicted_record_id_record, df.cosine_score,
                df.name_cosine, df.email_cosine, df.phone_cosine, df.linked_id_idx)):
        for x in range(len(pred)):
            df_list.append((q, pred[x], pred_rec[x], score[x], s_name[x], s_email[x], s_phone[x],  idx[x]))

    # TODO da cambiare predicted_record_id in predicted_linked_id e 'predicted_record_id_record' in 'predicted_record_id'
    df_new = pd.DataFrame(df_list, columns=['queried_record_id', 'predicted_record_id', 'predicted_record_id_record',
                                            'cosine_score', 'name_cosine',
                                            'email_cosine', 'phone_cosine', 
                                            'linked_id_idx',
                                            ])
    return df_new

In [44]:
def expand_similarities(test_record, vectorizer_name, vectorizer_email, vectorizer_phone, vectorizer_address, 
                        X_train_name, X_train_email, X_train_phone, X_train_address, k=50):
    
    sim_name, X_train_name_new = ngrams_name_fast(test_record, vectorizer_name, X_train_name)
    sim_email, X_train_email_new = ngrams_email_fast(test_record, vectorizer_email, X_train_email)
    sim_phone, X_train_phone_new = ngrams_phone_fast(test_record, vectorizer_phone, X_train_phone)
    sim_address, X_train_address_new = ngrams_address_fast(test_record, vectorizer_address, X_train_address)
        
    hybrid = sim_name + 0.2 * sim_email + 0.2 * sim_phone + 0.2 * sim_address
    
    linid_ = []
    linid_idx = []
    linid_score = []
    linid_name_cosine = []
    linid_email_cosine = []
    linid_phone_cosine = []
    linid_address_cosine = []
    linid_record_id = []
    
    tr = df_train[['record_id', 'linked_id']]
    indices = hybrid.nonzero()[1][hybrid.data.argsort()[::-1]][:k]
    df = tr.loc[indices, :][:k]
    linid_.append(df['linked_id'].values)
    linid_idx.append(df.index)
    linid_record_id.append(df.record_id.values)
    linid_score.append(np.sort(hybrid.data)[::-1][:k]) # Questo ha senso perché tanto gli indices sono sortati in base allo scores di hybrid
    linid_name_cosine.append([sim_name[0, t] for t in indices])
    linid_email_cosine.append([sim_email[0, t] for t in indices])
    linid_phone_cosine.append([sim_phone[0, t] for t in indices])
    
    df = pd.DataFrame()
    df['queried_record_id'] = [test_record.record_id]
    df['predicted_record_id'] = linid_
    df['predicted_record_id_record'] = linid_record_id
    df['cosine_score'] = linid_score
    df['name_cosine'] = linid_name_cosine
    df['email_cosine'] = linid_email_cosine
    df['phone_cosine'] = linid_phone_cosine
    df['linked_id_idx'] = linid_idx
    
    df_new = expand_df(df)
    
    return df_new, X_train_name_new, X_train_email_new, X_train_phone_new, X_train_address_new

In [20]:
def get_linked_id(new_row):
    new_row['linked_id'] = new_row.record_id.split("-")
    new_row['linked_id'] = new_row.linked_id[0]
    new_row['linked_id'] = int(new_row.linked_id)
    return new_row

In [21]:
def create_all_vectorizers(df_train):
    # vectorizer Name
    df_train.name = df_train.name.astype(str)
    corpus_name = list(df_train.name)
    vectorizer_name = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X_train_name = vectorizer_name.fit_transform(corpus_name)

    # vectorizer Email
    df_train.email = df_train.email.fillna('').astype(str)
    corpus_email = list(df_train.email) 
    vectorizer_email = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X_train_email = vectorizer_email.fit_transform(corpus_email)

    # vectorizer Address
    df_train.address = df_train.address.fillna('').astype(str)
    corpus_address = list(df_train.address)
    vectorizer_address = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X_train_address = vectorizer_address.fit_transform(corpus_address)

    # vectorizer Phone
    df_train = convert_phones(df_train)
    corpus_phone = list(df_train.phone)
    vectorizer_phone = CountVectorizer(preprocessor = remove_spaces, analyzer=remove_spaces)
    X_train_phone = vectorizer_phone.fit_transform(corpus_phone)
    
    return vectorizer_name, vectorizer_email, vectorizer_address, vectorizer_phone, X_train_name, X_train_email, X_train_address, X_train_phone

# Train

In [34]:
train = pd.concat([train1, train2])
eval_group = val.groupby('queried_record_id').size().values
group = train.groupby('queried_record_id').size().values
ranker = lgb.LGBMRanker()
print('Start LGBM...')
t1 = time.time()
ranker.fit(train.drop(['queried_record_id', 'target', 'predicted_record_id','predicted_record_id_record', 'linked_id_idx'], axis=1),
               train['target'], group=group,
               eval_set=[(val.drop(['queried_record_id', 'target', 'predicted_record_id','predicted_record_id_record', 'linked_id_idx'], axis=1), val['target'])],
               eval_group=[eval_group], early_stopping_rounds=5)
t2 = time.time()
print(f'Learning completed in {int(t2-t1)} seconds.')

Start LGBM...
[1]	valid_0's ndcg@1: 0.972762
Training until validation scores don't improve for 5 rounds.
[2]	valid_0's ndcg@1: 0.975492
[3]	valid_0's ndcg@1: 0.977745
[4]	valid_0's ndcg@1: 0.979941
[5]	valid_0's ndcg@1: 0.980212
[6]	valid_0's ndcg@1: 0.98034
[7]	valid_0's ndcg@1: 0.980388
[8]	valid_0's ndcg@1: 0.981028
[9]	valid_0's ndcg@1: 0.980887
[10]	valid_0's ndcg@1: 0.982163
[11]	valid_0's ndcg@1: 0.982491
[12]	valid_0's ndcg@1: 0.982518
[13]	valid_0's ndcg@1: 0.982995
[14]	valid_0's ndcg@1: 0.983013
[15]	valid_0's ndcg@1: 0.983066
[16]	valid_0's ndcg@1: 0.98335
[17]	valid_0's ndcg@1: 0.983762
[18]	valid_0's ndcg@1: 0.983911
[19]	valid_0's ndcg@1: 0.984109
[20]	valid_0's ndcg@1: 0.984468
[21]	valid_0's ndcg@1: 0.984486
[22]	valid_0's ndcg@1: 0.984516
[23]	valid_0's ndcg@1: 0.984564
[24]	valid_0's ndcg@1: 0.984748
[25]	valid_0's ndcg@1: 0.984889
[26]	valid_0's ndcg@1: 0.985003
[27]	valid_0's ndcg@1: 0.984911
[28]	valid_0's ndcg@1: 0.985016
[29]	valid_0's ndcg@1: 0.98516
[30]	valid_0's ndcg@1: 0.985187
[31]	valid_0's ndcg@1: 0.985288
[32]	valid_0's ndcg@1: 0.985283
[33]	valid_0's ndcg@1: 0.985331
[34]	valid_0's ndcg@1: 0.985336
[35]	valid_0's ndcg@1: 0.985463
[36]	valid_0's ndcg@1: 0.985406
[37]	valid_0's ndcg@1: 0.98545
[38]	valid_0's ndcg@1: 0.98552
[39]	valid_0's ndcg@1: 0.985524
[40]	valid_0's ndcg@1: 0.985638
[41]	valid_0's ndcg@1: 0.985713
[42]	valid_0's ndcg@1: 0.985713
[43]	valid_0's ndcg@1: 0.98577
[44]	valid_0's ndcg@1: 0.985783
[45]	valid_0's ndcg@1: 0.985853
[46]	valid_0's ndcg@1: 0.985862
[47]	valid_0's ndcg@1: 0.985919
[48]	valid_0's ndcg@1: 0.985962
[49]	valid_0's ndcg@1: 0.986019
[50]	valid_0's ndcg@1: 0.986041
[51]	valid_0's ndcg@1: 0.986111
[52]	valid_0's ndcg@1: 0.986133
[53]	valid_0's ndcg@1: 0.986221
[54]	valid_0's ndcg@1: 0.986208
[55]	valid_0's ndcg@1: 0.986256
[56]	valid_0's ndcg@1: 0.986278
[57]	valid_0's ndcg@1: 0.986313
[58]	valid_0's ndcg@1: 0.986269
[59]	valid_0's ndcg@1: 0.986282
[60]	valid_0's ndcg@1: 0.986243
[61]	valid_0's ndcg@1: 0.98626
[62]	valid_0's ndcg@1: 0.986304
Early stopping, best iteration is:
[57]	valid_0's ndcg@1: 0.986313
Learning completed in 342 seconds.

# Example

In [ ]:
vectorizer_name, vectorizer_email, vectorizer_address, vectorizer_phone, X_train_name, X_train_email, X_train_address, X_train_phone= create_all_vectorizers(df_train)
t1 = time.time()
test_record_exp, X_train_name_new, X_train_email_new, X_train_phone_new, X_train_address_new = expand_similarities(df_test.loc[2], vectorizer_name, vectorizer_email, vectorizer_phone, vectorizer_address, 
                        X_train_name, X_train_email, X_train_phone, X_train_address)
t2 = time.time()
t2-t1

In [ ]:
test_record_exp

# Create Sequential Test Answers

Dobbiamo creare un test set sequenziale [con le relative risposte], in modo che se ci sono due record che fanno riferimento allo stesso linked_id che però sono presenti solo nel test, il primo che arriva non ha riferimenti nel train ed è impossibile predirlo correttamente; viene però aggiunto al train e quando il secondo record deve essere valutato la risposta corretta corrisponde a quello precedente.

In [22]:
group_train = df_train.groupby('linked_id').apply(lambda x: list(x['record_id'])).reset_index().rename(columns={0:'record_ids'})

In [23]:
df_test

,record_id,name,type,address,phone,email,modification
0,10000003-TST-MR,"HOTFOCUS CO., LTD.",entity,NaN,4.401574e+11,consulting@outlook.ch,move unique
1,10000008-TST-M,BONUS TRADE LIMITED,entity,NaN,NaN,help@gmail.gov,move row
2,10000010-TST-CP,NEW IDEA LIMITED,entity,NaN,1.912469e+10,NaN,identical copy
3,10000013-TST-MR,VICTORY GROUP LIMITED,entity,NaN,1.949506e+10,NaN,move unique
4,10000016-TST-MR,"NINGBO RAPID INTERNATIONAL TRADING CO., LTD.",entity,NaN,4.446512e+11,info@outlook.cz,move unique
5,10000017-TST-MR,ANGELIKA INTERNATIONAL LTD.,entity,NaN,NaN,NaN,move unique
6,10000018-T4-TST-CP,CHEM D-T Corp.,entity,NaN,3.924568e+09,enquirhs@CHEM.D-T.Corp.ch,identical copy
7,10000018-TST-M,CHEM D-T Corp.,entity,NaN,3.924568e+09,inquires@CHEM.D-T.Corp.ch,move row
8,10000020-NV0-TST-CP,JIE LUN INVESTMENT LIMITED,entity,NaN,NaN,NaN,identical copy
9,10000020-NV1-TST-M,JIE LUN INVESTMENT LIMITED,entity,NaN,3.336016e+11,NaN,move row
10,10000022-TST-CP,PRESTIGE INTERNATIONAL CORP.,entity,NaN,4.200728e+11,inquires@PRESTIGE.INTERNATIONAL.CORP.ch,identical copy
11,10000023-NV2-TST-CP,SUNNY TREASURE INTERNATIONAL LIMITED,entity,NaN,4.470710e+11,NaN,identical copy
12,10000024-TST-MR,LAKE STREET INVESTMENTS LTD.,entity,NaN,4.174193e+12,NaN,move unique
13,10000025-TST-MR,GIT CO INC.,entity,NaN,NaN,NaN,move unique
14,10000027-M0-TST-M,WORLD TOOLS INVESTMENTS CORP.,entity,NaN,3.352436e+11,NaN,move row
15,10000027-T0-TST-M,WORLD TOOLS INVESTMENTS CORP.,entity,NaN,3.352436e+11,NaN,move row
16,10000027-T1-TST-M,WORLD TOOLs INVESTMENTS CORP.,entity,NaN,3.352436e+11,NaN,move row
17,10000028-TST-MR,WINESELECTION S.A.,entity,NaN,3.959136e+09,WINESELECTIONSA@hotmail.de,move unique
18,10000030-TST-MR,KIND INTERNATIONAL INC.,entity,NaN,4.209494e+11,NaN,move unique
19,10000031-M2-TST-M,Aegis Infocom Inc.,entity,NaN,NaN,NaN,move row
20,10000032-T0-TST-CP,TOPdINm INVESTMENTS LIMITED,entity,NaN,3.364164e+11,NaN,identical copy
21,10000032-T1-TST-M,TqPLINE INVESTMENTS LIMITED,entity,NaN,3.364164e+11,NaN,move row
22,10000034-TST-M,Alvear Investments Limited,entity,NaN,4.208877e+11,NaN,move row
23,10000036-NV0-TST-M,RIVIERA HOLDINGS LIMITED,entity,NaN,3.946790e+09,NaN,move row
24,10000036-NV1-TST-M,RIVIERA HOLDINGS LIMITED,entity,10685-B Hazelhurst Dr. #5830; Houston; TX 7704...,3.946790e+09,info@icloud.ch,move row
25,10000036-T0-TST-CP,RIVIERA HOLDINGS LIMITED,entity,NaN,3.946790e+09,NaN,identical copy
26,10000036-TST-M,RIVIERA HOLDINGS LIMITED,entity,NaN,3.946790e+09,NaN,move row
27,10000037-TST-MR,PARKDALE HOLDINGS LTD.,entity,NaN,3.970247e+09,support@PARKDALE.HOLDINGS.LTD.it,move unique
28,10000038-TST-MR,SADDLEVILLE CORPORATION,entity,NaN,3.378238e+11,NaN,move unique
29,10000039-TST-CP,"BELLEVUE INTERNATIONAL (FRANCE) CO., LTD.",entity,NaN,3.917160e+09,NaN,identical copy
...,...,...,...,...,...,...,...
266925,13013118-TST-M,ANDREA MICHELE ANGELO MARIA MELERA,officer,NaN,NaN,NaN,move row
266926,13013119-NV0-TST-CP,ZHANG JIN,officer,7/F; Flat A; 1 Capevale Drive; Discovery Bay; ...,3.902680e+09,NaN,identical copy
266927,15000601-TST-M,Pilar de Borbón,officer,NaN,NaN,NaN,move row
266928,15000801-TST-MR,Bruno Jean-Richard Itoua,officer,NaN,4.405693e+11,NaN,move unique
266929,15000901-TST-MR,Micaela Domecq Solís-Beaumont,officer,NaN,NaN,NaN,move unique
266930,15001201-NV0,César Almeyda,officer,NaN,3.300814e+11,NaN,modified copy
266931,15001301-TST-MR,John Addo Kufuor,officer,NaN,3.335382e+11,NaN,move unique
266932,15001401-M0-TST-CP,Ian Cameron,officer,NaN,NaN,NaN,identical copy
266933,15001401-M2-TST-CP,Ian Cameron,officer,NaN,NaN,NaN,identical copy
266934,15001501-TST-MR,Mamadie Toure,officer,NaN,4.425446e+11,MamadieToure@icloud.it,move unique
266935,15001601-T3-TST-CP,Stavrvs Papastavrlu,officer,NaN,4.171165e+12,StaxrosPapastavrou@icloud.ch,identical copy
266936,15001801-T0-TST-CP,Clive Khulubuse Zuma,officer,NaN,4.918253e+10,NaN,identical copy
266937,15001903-TST-MR,Hussain Nawaz Sharif,officer,NaN,3.991790e+09,help@hotmail.de,move unique
266938,15002501-M0-TST-M,José Maria Botelho de Vasconcelos,officer,NaN,NaN,NaN,move row
266939,15003201-TST-MR,Víctor Cruz Weffer,officer,NaN,1.702037e+10,VictorCruzWeffer@gmail.gov,move unique
266940,15003301-TST-MR,Pedro Delgado,officer,NaN,3.326740e+11,PedroDelgado@icloud.co.uk,move unique
266941,15004001-T0-TST-CP,João Lyra,officer,NaN,4.978747e+10,NaN,identical copy
266942,15004001-T3-TST-M,Jdão Lyra,officer,NaN,4.978769e+10,NaN,move row
266943,15004501-TST-MR,King Salman bin Abdulaziz bin Abdulrahman Al Saud,officer,NaN,3.341554e+11,NaN,move unique
266944,15005002-TST-MR,Leyla Aliyeva,officer,NaN,NaN,NaN,move unique
266945,15005003-TST-MR,Arzu Aliyeva,officer,NaN,3.319085e+11,NaN,move unique
266946,15005004-TST-M,Heydar Aliyev,officer,NaN,4.201462e+11,HeydarAliyev@hotmail.co.uk,move row
266947,15005201-TST-MR,Konrad Mizzi,officer,NaN,4.993561e+10,NaN,move unique
266948,15005401-TST-MR,Mamadou Pouye,officer,NaN,NaN,NaN,move unique
266949,15005501-TST-M,Alfredo Ovalle Rodríguez,officer,NaN,1.097098e+10,NaN,move row
266950,15005801-T0-TST-M,Ahmak Ali al-Myrghani,officer,NaN,NaN,AhmadAlial-Mirghani@gmail.de,move row
266951,15005801-T1-TST-M,Ahmad Ali al-Mirghani,officer,NaN,NaN,AhmadAlialpMirghani@gmail.de,move row
266952,15006601-TST-MR,Bjarni Benediktsson,officer,NaN,NaN,BjarniBenediktsson@aol.gov,move unique
266953,15006701-TST-CP,Ólöf Nordal,officer,NaN,4.912080e+10,OlofNordal@yahoo.it,identical copy
266954,15006801-TST-MR,James Ibori,officer,NaN,NaN,NaN,move unique

In [24]:
df_test['linked_id'] = df_test.record_id.str.split('-')
df_test['linked_id'] = df_test.linked_id.apply(lambda x: x[0])
df_test.linked_id = df_test.linked_id.astype(int)

In [25]:
df_test = df_test.merge(group_train, how= 'left', on='linked_id')

In [28]:
def seq_labelling(df):
    linked_seen = []
    new_group = { }
    new_df = []
    df_notna = df[~df.record_ids.isna()]
    df_na = df[df.record_ids.isna()]
    relevant_idx= []
    for (i, l, r) in tqdm(zip(df_na.index, df_na.linked_id, df_na.record_id)):
        if l not in linked_seen:
            linked_seen.append(l)
            new_df.append((i, r, np.nan))
            new_group[l] = [r]
        else:
            current_group = new_group[l]
            #print(f'{r} and the group: {current_group}')
            new_df.append((i, r, current_group))
            new_group[l].append(r)
            relevant_idx.append(i)
    res = pd.DataFrame(new_df, columns=['index','record_id', 'record_ids']).set_index('index')
    full_df = pd.concat([df_notna, res])
    full_df = full_df.sort_index()
    return full_df, relevant_idx

def get_target(df):
    df, idx = seq_labelling(df)
    df_notidx = df.loc[~df.index.isin(idx)]
    df = df.loc[idx]
    new_df = []
    for (i,r, g) in tqdm(zip(df.index, df.record_id, df.record_ids)):
        idx = g.index(r)
        g = g[:idx]
        new_df.append((i, r, g))
    new_df = pd.DataFrame(new_df, columns=['index','record_id', 'record_ids']).set_index('index')
    res = pd.concat([new_df, df_notidx])
    res = res.sort_index()
    return res

In [27]:
seq = get_target(df_test[['record_id', 'linked_id','record_ids']])

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:20: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:34: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

# Incremental Evaluation

## Nota
Invece di fare le predizioni su tutto il test, visto che sappiamo come performa l'algoritmo classico su quei record che hanno riferimenti nel train, possiamo restringere l'analisi ai record del test che non hanno riferimenti nel train e che hanno duplicati all'interno del test stesso [per quelli che non sono duplicati non ha senso fare tale analisi perché non forniscono nessun contributo alle query successive]

In [35]:
duplicates_df = only_test_recordid[only_test_recordid.duplicated('linked_id', keep=False)]

In [36]:
duplicates_df

,record_id,name,type,address,phone,email,modification,linked_id
338,10000500-T0-TST-M,EAST ASIA PALM hO.c LTD,entity,NaN,4.419548e+11,NaN,move row,10000500
339,10000500-TST-M,"EAST ASIA PALM CO., LTD",entity,NaN,4.419598e+11,NaN,move row,10000500
848,10001224-M0-TST-M,VICTORY SECRET LTD.,entity,NaN,1.900123e+10,support@icloud.gov,move row,10001224
849,10001224-M1-TST-M,VICTORY SECRET LTD.,entity,NaN,NaN,NaN,move row,10001224
850,10001224-TST-M,VICTORY SECRET LTD.,entity,NaN,1.900123e+10,support@icloud.gov,move row,10001224
1592,10002261-NV0-TST-M,"LONGKOU FANLIN NODULAR CAST IRON PIPE CO.,LTD.",entity,6310 WATERBURY RD NANAIMO BC V9V 1M3 CANADA,NaN,NaN,move row,10002261
1593,10002261-TST-M,"LONGKOU FANLIN NODULAR CAST IRON PIPE CO.,LTD.",entity,NaN,4.107031e+12,NaN,move row,10002261
1924,10002752-NV0-TST-M,WALBRAY TRADING LTD.,entity,NaN,NaN,NaN,move row,10002752
1925,10002752-TST-M,WALBRAY TRADING LTD.,entity,NaN,NaN,NaN,move row,10002752
2180,10003124-M0-TST-M,MANDELBAUM LTD. INC.,entity,NaN,NaN,NaN,move row,10003124
2181,10003124-TST-M,MANDELBAUM LTD. INC.,entity,NaN,1.356913e+10,NaN,move row,10003124
2597,10003732-NV0-TST-M,PROFIT SMART ENTERPRISES LTD.,entity,NaN,NaN,inquires@PROFIT.SMART.ENTERPRISES.LTD.com,move row,10003732
2598,10003732-TST-M,PROFIT SMART ENTERPRISES LTD.,entity,NaN,3.943087e+09,help@zoho.com,move row,10003732
3898,10005571-NV0-TST-M,ENPREX S.A.,entity,Spartakovskaya Street 6-8; Moscow; Russia,4.149003e+12,NaN,move row,10005571
3899,10005571-TST-M,ENPREX S.A.,entity,NaN,4.149003e+12,NaN,move row,10005571
3919,10005601-M0-TST-M,Neotecmedical Inc.,entity,Neotecmedical Inc. 520 S. 7TH STREET SUITE C L...,1.937160e+10,NaN,move row,10005601
3920,10005601-T0-TST-M,Neotecmedical Inc.,entity,Neotecmedical Inc. 520 S. 7TH STREET SUITE C L...,1.937160e+10,sales@yahoo.ch,move row,10005601
3921,10005601-TST-M,Neotecmedical Inc.,entity,Neotecmedical Inc. 520 S. 7TH STREET SUITE C L...,1.937160e+10,sales@yahoo.ch,move row,10005601
3994,10005733-NV0-TST-M,LIKOU INC.,entity,NaN,NaN,NaN,move row,10005733
3995,10005733-TST-M,LIKOU INC.,entity,NaN,3.980124e+09,NaN,move row,10005733
4462,10006451-NV0-TST-M,MAYFIELD TRADING LTD.,entity,NaN,NaN,NaN,move row,10006451
4463,10006451-TST-M,MAYFIELD TRADING LTD.,entity,NaN,4.201098e+11,NaN,move row,10006451
4701,10006767-M0-TST-M,PRIVA FINANCE S.A.,entity,NaN,NaN,NaN,move row,10006767
4702,10006767-TST-M,PRIVA FINANCE S.A.,entity,NaN,4.202333e+11,PRIVAFINANCESA@yahoo.ch,move row,10006767
6224,10008908-T0-TST-M,WILDPARK HOLDING INC.,entity,STANDARD wHARTERED BANK (SiITZERLAND) SA CASE ...,NaN,NaN,move row,10008908
6225,10008908-T1-TST-M,WILDPARK oOLDING INC.,entity,STANDARD CHARTERED BANK (SWITZERLAND) SA CASE ...,NaN,NaN,move row,10008908
6226,10008908-TST-M,WILDPARK HOLDING INC.,entity,STANDARD CHARTERED BANK (SWITZERLAND) SA CASE ...,NaN,NaN,move row,10008908
6633,10009498-M0-TST-M,REIGHTON EQUITIES INC.,entity,NaN,NaN,NaN,move row,10009498
6634,10009498-TST-M,REIGHTON EQUITIES INC.,entity,NaN,NaN,NaN,move row,10009498
7088,10010194-NV0-TST-M,CARDER INC.,entity,UB ECUADOR HOLDINGS; LLC 520 S. 7TH STREET SU...,NaN,NaN,move row,10010194
...,...,...,...,...,...,...,...,...
254014,12219159-TST-M,Tuscan Crest Limited,officer,"Trident Chambers PO Box 146 Road Town, Tortola...",3.323567e+11,NaN,move row,12219159
254325,12219625-M0-TST-M,Waldemar WITT,officer,NaN,NaN,WaldemarWITT@yahoo.de,move row,12219625
254326,12219625-M1-TST-M,Waldemar WITT,officer,NaN,NaN,NaN,move row,12219625
254327,12219625-TST-M,Waldemar WITT,officer,U1. MRAMORNAYA 14-134 116142 PODOLSK RUSSIA,NaN,WaldemarWITT@yahoo.de,move row,12219625
254361,12219679-NV0-TST-M,PEAK ENTERPRISES LIMITED,officer,57.594.426/0001-38; Alameda Araguaia; 3718; 1°...,4.453421e+11,NaN,move row,12219679
254362,12219679-TST-M,PEAK ENTERPRISES LIMITED,officer,TOP FLOOR; 14 ATHOL STREET; DOUGLAS; ISLE OF MAN,4.453421e+11,NaN,move row,12219679
255389,12221232-NV0-TST-M,PASAWEE LIMITED,officer,UNIT 1605-6; 16TH FLOOR; INFINITUS PLAZA; 199 ...,3.975432e+09,NaN,move row,12221232
255390,12221232-NV1-TST-M,PASAWEE LIMITED,officer,UNIT 1605-6; 16TH FLOOR; INFINITUS PLAZA; 199 ...,NaN,NaN,move row,12221232
255391,12221232-TST-M,PASAWEE LIMITED,officer,UNIT 1605-6; 16TH FLOOR; INFINITUS PLAZA; 199 ...,NaN,NaN,move row,12221232
258437,13000820-T0-TST-M,TEREZIA aIqLAY,officer,11 AVENUE PRINCESSE GRACE; MC 98 g00; MONACO,NaN,TEREZIqFINLAb@yahoo.de,move row,13000820
258438,13000820-TST-M,TEREZIA FINLAY,officer,11 AVENUE PRINCESSE GRACE; MC 98 000; MONACO,NaN,TEREZIAFINLAY@yahoo.de,move row,13000820
258627,13001111-M0-TST-M,Rafi Elimelech,officer,NaN,4.201910e+11,NaN,move row,13001111
258628,13001111-M1-TST-M,Rafi Elimelech,officer,"HaSahlav 102, Ramat Poleg - Israel",NaN,NaN,move row,13001111
258629,13001111-TST-M,Rafi Elimelech,officer,"HaSahlav 102, Ramat Poleg - Israel",4.201910e+11,NaN,move row,13001111
259394,13002187-NV0-TST-M,Mrs. Zhanna Vdovina,officer,Apt 5 Gazovaya St 1a St Petesburg Russia,NaN,NaN,move row,13002187
259395,13002187-NV1-TST-M,Mrs. Zhanna Vdovina,officer,Apt 5 Gazovaya St 1a St Petesburg Russia,1.825716e+10,NaN,move row,13002187
259396,13002187-TST-M,Mrs. Zhanna Vdovina,officer,Apt 5 Gazovaya St 1a St Petesburg Russia,4.205860e+11,NaN,move row,13002187
260754,13004163-T0-TST-M,Ching Yu NG,officer,15/f EffectuallBdgo Henjessey Road; Wanchai; H...,4.920932e+10,NaN,move row,13004163
260755,13004163-TST-M,Ching Yu NG,officer,15/f Effectual Bdg; Hennessey Road; Wanchai; H...,4.920922e+10,NaN,move row,13004163
262101,13006059-M0-TST-M,Carlos Rodrigo Figueiredo Lopes,officer,Rua do Castelo 156; 2240-334 Ferreira do Zezer...,NaN,NaN,move row,13006059
262102,13006059-TST-M,Carlos Rodrigo Figueiredo Lopes,officer,Rua do Castelo 156; 2240-334 Ferreira do Zezer...,4.103285e+12,CarlosRodrigoFigueiredoLopes@gmail.co.uk,move row,13006059
262494,13006633-NV0-TST-M,JUAN PABLO CARVAJAL,officer,1ST FLOOR; 17 BOND STREET; ST HELEIR; JERSEY; ...,NaN,JUANPABLOCARVAJAL@yahoo.co.uk,move row,13006633
262495,13006633-TST-M,JUAN PABLO CARVAJAL,officer,Bethania Neighborhood; El Dorado Boulevard; Mi...,NaN,JUANPABLOCARVAJAL@yahoo.co.uk,move row,13006633
262810,13007078-NV0-TST-M,Raja Munahi ALBQAMI,officer,21 Alshenifi Drive; Riyadh 11683; Saudi Arabia,3.328548e+11,NaN,move row,13007078
262811,13007078-TST-M,Raja Munahi ALBQAMI,officer,21 Alshenifi Drive; Riyadh 11683; Saudi Arabia,3.328548e+11,NaN,move row,13007078
263949,13008702-NV0-TST-M,CITIC LIMITED,officer,32nd Floor; CITIC Tower; 1 Tim Mei Avenue; Cen...,1.257814e+10,NaN,move row,13008702
263950,13008702-NV1-TST-M,CITIC LIMITED,officer,RM 1203; NO 120; FENGYANGLI; SHUINAN; PENGJIAN...,3.994038e+09,NaN,move row,13008702
263951,13008702-TST-M,CITIC LIMITED,officer,32nd Floor; CITIC Tower; 1 Tim Mei Avenue; Cen...,3.994038e+09,NaN,move row,13008702
264691,13009786-M0-TST-M,ABERDEEN FOUNDATION,officer,NaN,NaN,NaN,move row,13009786
264692,13009786-TST-M,ABERDEEN FOUNDATION,officer,Mossfon Bdlg; 54th Street; Panama; Rep. of Panama,4.200674e+11,NaN,move row,13009786

In [37]:
idx = duplicates_df.index

In [38]:
def reorder_preds(preds):
    ordered_lin = []
    ordered_score = []
    ordered_record = []
    for i in range(len(preds)):
        l = sorted(preds[i], key=lambda t: t[1], reverse=True)
        lin = [x[0] for x in l]
        s = [x[1] for x in l]
        r = [x[2] for x in l]
        ordered_lin.append(lin)
        ordered_score.append(s)
        ordered_record.append(r)
    return ordered_lin, ordered_score, ordered_record

In [ ]:
# Re-load training set
df_train = pd.read_csv("../dataset/original/train.csv", escapechar="\\")
df_train = df_train.sort_values(by='record_id').reset_index(drop=True)
df_train.linked_id = df_train.linked_id.astype(int)
# get vectorizers
vectorizer_name, vectorizer_email, vectorizer_address, vectorizer_phone, X_train_name, X_train_email, X_train_address, X_train_phone= create_all_vectorizers(df_train)

# Online Learning    -------------> TODO: ci mette troppo, circa 7ore
test_prediction = pd.DataFrame()
seen = []

for i in tqdm(idx):
    test_row = duplicates_df.loc[i]
    print(f'Record: {test_row.record_id}')
    t1 = time.time()
    #print(f'Extract test record at index: {i}')
    # Get the test record to be evaluate
    #print('Create Features')
    test_row_exp, X_train_name, X_train_email, X_train_phone, X_train_address = expand_similarities(test_row, vectorizer_name, vectorizer_email, vectorizer_phone, vectorizer_address, 
                        X_train_name, X_train_email, X_train_phone, X_train_address)
    test_row_exp = adding_features(test_row_exp, isValidation=False, path=os.path.join('..', 'dataset', 'original'), incremental_train=df_train)
    
    # Get predictions
    #print('Get Predictions')
    predictions = ranker.predict(test_row_exp.drop(['queried_record_id','linked_id_idx', 'predicted_record_id','predicted_record_id_record'], axis=1))
    test_row_exp['predictions'] = predictions
    df_predictions = test_row_exp[['queried_record_id', 'predicted_record_id', 'predicted_record_id_record', 'predictions']]
    
    # Re-order predictions
    #print('Reorder Predictions')
    rec_pred = []
    for (l,p,record_id) in zip(df_predictions.predicted_record_id, df_predictions.predictions, df_predictions.predicted_record_id_record):
        rec_pred.append((l, p, record_id))

    df_predictions['rec_pred'] = rec_pred
    group_queried = df_predictions[['queried_record_id', 'rec_pred']].groupby('queried_record_id').apply(lambda x: list(x['rec_pred']))
    df_predictions = pd.DataFrame(group_queried).reset_index().rename(columns={0 : 'rec_pred'})
    
    # Store predictions
    #print('Store Predictions')
    df_predictions['ordered_linked'], df_predictions['ordered_scores'], df_predictions['ordered_record'] = reorder_preds(df_predictions.rec_pred.values)
    test_prediction = pd.concat([test_prediction, df_predictions], ignore_index=True)
    new_row = get_linked_id(test_row)
    df_train = df_train.append(new_row, ignore_index=True)
    t2 = time.time()
    #print(f'Iteration completed in {t2 - t1}s')

HBox(children=(IntProgress(value=0, max=857), HTML(value='')))

Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10000500-T0-TST-M

Done: 100%|██████████| 1/1 [00:01<00:00,  1.12s/it]
Done: 100%|██████████| 1/1 [00:00<00:00,  2.09it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  4.44it/s]
Done: 100%|██████████| 1/1 [00:02<00:00,  2.15s/it]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

100%|██████████| 50/50 [00:00<00:00, 65007.81it/s]

NaN on queried_name: 0
Nan on predicted_name: 0

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10000500-TST-M

Done: 100%|██████████| 1/1 [00:01<00:00,  1.15s/it]
Done: 100%|██████████| 1/1 [00:00<00:00,  4.02it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  5.93it/s]
Done: 100%|██████████| 1/1 [00:01<00:00,  1.42s/it]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

100%|██████████| 50/50 [00:00<00:00, 61284.40it/s]

NaN on queried_name: 0
Nan on predicted_name: 0

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10001224-M0-TST-M

Done: 100%|██████████| 1/1 [00:00<00:00,  1.28it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  3.35it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  4.97it/s]
Done: 100%|██████████| 1/1 [00:01<00:00,  1.23s/it]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

100%|██████████| 50/50 [00:00<00:00, 45255.76it/s]

NaN on queried_name: 0
Nan on predicted_name: 0

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10001224-M1-TST-M

Done: 100%|██████████| 1/1 [00:00<00:00,  1.34it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  4.12it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  6.44it/s]
Done: 100%|██████████| 1/1 [00:01<00:00,  1.03s/it]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

100%|██████████| 50/50 [00:00<00:00, 67650.06it/s]

NaN on queried_name: 0
Nan on predicted_name: 0

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10001224-TST-M

Done: 100%|██████████| 1/1 [00:00<00:00,  1.42it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  3.93it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  5.41it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  1.04it/s]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

100%|██████████| 50/50 [00:00<00:00, 51175.01it/s]

NaN on queried_name: 0
Nan on predicted_name: 0

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10002261-NV0-TST-M

Done: 100%|██████████| 1/1 [00:00<00:00,  1.37it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  3.78it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  5.61it/s]
Done: 100%|██████████| 1/1 [00:01<00:00,  1.05s/it]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

100%|██████████| 50/50 [00:00<00:00, 88674.50it/s]

NaN on queried_name: 0
Nan on predicted_name: 0

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10002261-TST-M

Done: 100%|██████████| 1/1 [00:00<00:00,  1.35it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  3.86it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  5.87it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  1.06it/s]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

100%|██████████| 50/50 [00:00<00:00, 54698.80it/s]

NaN on queried_name: 0
Nan on predicted_name: 0

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

Record: 10002752-NV0-TST-M

Done: 100%|██████████| 1/1 [00:00<00:00,  1.46it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  3.64it/s]
Done: 100%|██████████| 1/1 [00:00<00:00,  5.73it/s]
Preprocessing:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
test_prediction

L'idea era che una volta calcolate le predizioni 'sequenziali', possiamo guardare quanto queste siano corrette matchandole con seq['record_ids']

# Problemi:
- ci mette davvero troppo, soprattutto il calcolo delle similarità ed estrazione delle topN, trovare un modo più rapido