In [1]:
import pandas as pd
from scipy import *
from scipy.sparse import *
from tqdm.auto import tqdm

df_train = pd.read_csv('../dataset/original/train.csv', escapechar="\\")
df_train = df_train.sort_values(by=['record_id']).reset_index(drop=True)
df_test = pd.read_csv('../dataset/original/test.csv', escapechar="\\")
df_test = df_test.sort_values(by=['record_id']).reset_index(drop=True)

In [2]:
df = df_train.name.append(df_test.name).reset_index(drop=True)

In [3]:
df

0                  TIANSHENG INDUSTRY AND TRADING CO., LTD.
1               NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.
2               NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.
3               NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.
4                           SKY-BLUE GIFTS & TOYS CO., LTD.
5                           SKY-BLUE GIFTS & TOYS CO., LTD.
6                           SKY-BLUE GIFTS & TOYS CO., LTD.
7                      FORTUNEMAKER INVESTMENTS CORPORATION
8                                      8808 HOLDING LIMITED
9                                  KENT DEVELOPMENT LIMITED
10                                           AMARANDAN LTD.
11                                           AMARANDAN LTD.
12                                         NEW IDEA LIMITED
13                                       HUGH POWER LIMITED
14                                   ULTIMATE GROUP LIMITED
15                                     CHARTER MARK LIMITED
16                     Wide International Trading Co., Ltd.
17                     Wide International Trading Co., Ltd.
18                     Wiye Intsrnational Trading Co., Ltd.
19                     Wide International Trading Co., Ltd.
20                     Wide InternationaxkTrading Cn., Ltd.
21                     Wide International Trading Co., Ltd.
22                                           CHEM D-T Cgrp.
23                                           CHEM D-T Corp.
24                                           CHEM D-T Corp.
25                                           CHEM D-T Corp.
26                                           CHEM D-T Corp.
27                                  HTSS ET CAPITAL LIMITED
28                                  HTSS ET CAPITAL LIMITED
29                                  HTSS ET CAPITAL LIMITED
                                ...
958365                   ANDREA MICHELE ANGELO MARIA MELERA
958366                                            ZHANG JIN
958367                                      Pilar de Borbón
958368                             Bruno Jean-Richard Itoua
958369                        Micaela Domecq Solís-Beaumont
958370                                        César Almeyda
958371                                     John Addo Kufuor
958372                                          Ian Cameron
958373                                          Ian Cameron
958374                                        Mamadie Toure
958375                                  Stavrvs Papastavrlu
958376                                 Clive Khulubuse Zuma
958377                                 Hussain Nawaz Sharif
958378                    José Maria Botelho de Vasconcelos
958379                                   Víctor Cruz Weffer
958380                                        Pedro Delgado
958381                                            João Lyra
958382                                            Jdão Lyra
958383    King Salman bin Abdulaziz bin Abdulrahman Al Saud
958384                                        Leyla Aliyeva
958385                                         Arzu Aliyeva
958386                                        Heydar Aliyev
958387                                         Konrad Mizzi
958388                                        Mamadou Pouye
958389                             Alfredo Ovalle Rodríguez
958390                                Ahmak Ali al-Myrghani
958391                                Ahmad Ali al-Mirghani
958392                                  Bjarni Benediktsson
958393                                          Ólöf Nordal
958394                                          James Ibori
Name: name, Length: 958395, dtype: object

In [4]:
df = [str(x).lower() for x in df]

In [12]:
type(df)

list

In [5]:
names = dict(zip(list(set(df)), [0 for x in range(len(df))]))

In [6]:
for name in tqdm(df):
    names[name]+=1

HBox(children=(IntProgress(value=0, max=958395), HTML(value='')))

In [7]:
feature = pd.DataFrame()
feature['name'] = names.keys()
feature['name_popularity'] = names.values()

In [8]:
feature

                                                     name  name_popularity
0                      fresco commercial services limited                5
1                             rula property holdings ltd.                1
2                          hero stone development limited                4
3                                   lo-bills solution ltd                2
4                                    le pelerin fondation                7
5                                    wilson alves feitosa                6
6                                     richard sidney rose                1
7                                            chen ronghua                1
8                                     mikhail shinkarenko                1
9                                  perron associates inc.                3
10                               elbasan holdings limited                1
11              jasmine quadrilaaeral investm corpoyation                1
12      g.m. trustees ltd. as trustees of the flint trust                1
13                                 lekay consultants ltd.                1
14           cleverlearn english aanguage institute, ltd.                1
15                               hindley management corp.                1
16                        palm springs incernvtionag ltd.                1
17                              ethelrin management corp.                4
18                             savinelli enterprises ltd.                5
19                                 noskat enterpriseiinc.                1
20                                      mgi group limited                2
21                  automation union technology co., ltd.                1
22                                karmic consultant corp.                1
23                       beatrice teresa shobhna o' brien                5
24                                           zheng wei he                1
25                                           willora inc.                1
26                                       luis cesar forte                1
27                                           lh huyngquav                1
28                                          duan xiao yin                1
29                               yatagaf engineerinc inq.                1
...                                                   ...              ...
434896                                sophiamt. cuyegkeng                2
434897                               feancrest millsdltd.                1
434898                                   mr. oleg tumakov                1
434899                          kart overseas corporation                1
434900                                  rudow assets s.a.                1
434901                        australafrika ventures s.a.                1
434902                           intermarinezbrokers sda.                1
434903                                  mr. sze hiang sng                2
434904                                 hossein nadjafiasl                1
434905                     carlisle estates group limited                2
434906                          n&e technology co limited                1
434907                                 prntane group s.a.                1
434908                         galaxy real hssate limited                1
434909                             swissmere v193 limited                2
434910                          juan jorgegunther cornejo                1
434911                       werner aldo heinimann faioda                7
434912                       goldbond investments limited                1
434913                                  huntsmead limited                4
434914                                      tan ying sing                5
434915                             hzira holdijgs lfmited                1
434916                               merrick pacific ltd.                2
434917                            summerwell company inc.                1
434918                     sandmoor international limited                1
434919                             daphne collection inc.                1
434920                                 vladimir kovalenko                2
434921                         binomar holding foundation                1
434922                         ytt trading & services inc                4
434923                                  chadville limited                1
434924                 system gold international limited,                1
434925                                       codex s.p.a.                1

[434926 rows x 2 columns]

In [14]:
df_test.name = df_test.name.astype(str)
df_test.name = df_test.name.str.lower()

In [17]:
final_feature = df_test[['record_id', 'name']]

In [18]:
final_feature

                  record_id                                               name
0           10000003-TST-MR                                 hotfocus co., ltd.
1            10000008-TST-M                                bonus trade limited
2           10000010-TST-CP                                   new idea limited
3           10000013-TST-MR                              victory group limited
4           10000016-TST-MR       ningbo rapid international trading co., ltd.
5           10000017-TST-MR                        angelika international ltd.
6        10000018-T4-TST-CP                                     chem d-t corp.
7            10000018-TST-M                                     chem d-t corp.
8       10000020-NV0-TST-CP                         jie lun investment limited
9        10000020-NV1-TST-M                         jie lun investment limited
10          10000022-TST-CP                       prestige international corp.
11      10000023-NV2-TST-CP               sunny treasure international limited
12          10000024-TST-MR                       lake street investments ltd.
13          10000025-TST-MR                                        git co inc.
14        10000027-M0-TST-M                      world tools investments corp.
15        10000027-T0-TST-M                      world tools investments corp.
16        10000027-T1-TST-M                      world tools investments corp.
17          10000028-TST-MR                                 wineselection s.a.
18          10000030-TST-MR                            kind international inc.
19        10000031-M2-TST-M                                 aegis infocom inc.
20       10000032-T0-TST-CP                        topdinm investments limited
21        10000032-T1-TST-M                        tqpline investments limited
22           10000034-TST-M                         alvear investments limited
23       10000036-NV0-TST-M                           riviera holdings limited
24       10000036-NV1-TST-M                           riviera holdings limited
25       10000036-T0-TST-CP                           riviera holdings limited
26           10000036-TST-M                           riviera holdings limited
27          10000037-TST-MR                             parkdale holdings ltd.
28          10000038-TST-MR                            saddleville corporation
29          10000039-TST-CP          bellevue international (france) co., ltd.
...                     ...                                                ...
266925       13013118-TST-M                 andrea michele angelo maria melera
266926  13013119-NV0-TST-CP                                          zhang jin
266927       15000601-TST-M                                    pilar de borbón
266928      15000801-TST-MR                           bruno jean-richard itoua
266929      15000901-TST-MR                      micaela domecq solís-beaumont
266930         15001201-NV0                                      césar almeyda
266931      15001301-TST-MR                                   john addo kufuor
266932   15001401-M0-TST-CP                                        ian cameron
266933   15001401-M2-TST-CP                                        ian cameron
266934      15001501-TST-MR                                      mamadie toure
266935   15001601-T3-TST-CP                                stavrvs papastavrlu
266936   15001801-T0-TST-CP                               clive khulubuse zuma
266937      15001903-TST-MR                               hussain nawaz sharif
266938    15002501-M0-TST-M                  josé maria botelho de vasconcelos
266939      15003201-TST-MR                                 víctor cruz weffer
266940      15003301-TST-MR                                      pedro delgado
266941   15004001-T0-TST-CP                                          joão lyra
266942    15004001-T3-TST-M                                          jdão lyra
266943      15004501-TST-MR  king salman bin abdulaziz bin abdulrahman al saud
266944      15005002-TST-MR                                      leyla aliyeva
266945      15005003-TST-MR                                       arzu aliyeva
266946       15005004-TST-M                                      heydar aliyev
266947      15005201-TST-MR                                       konrad mizzi
266948      15005401-TST-MR                                      mamadou pouye
266949       15005501-TST-M                           alfredo ovalle rodríguez
266950    15005801-T0-TST-M                              ahmak ali al-myrghani
266951    15005801-T1-TST-M                              ahmad ali al-mirghani
266952      15006601-TST-MR                                bjarni benediktsson
266953      15006701-TST-CP                                        ólöf nordal
266954      15006801-TST-MR                                        james ibori

[266955 rows x 2 columns]

In [20]:
final_feature = pd.merge(final_feature, feature, how='left', on=['name'])

In [27]:
final_feature[final_feature.name_popularity==1]

,record_id,name,name_popularity
0,10000003-TST-MR,"hotfocus co., ltd.",1
3,10000013-TST-MR,victory group limited,1
4,10000016-TST-MR,"ningbo rapid international trading co., ltd.",1
5,10000017-TST-MR,angelika international ltd.,1
21,10000032-T1-TST-M,tqpline investments limited,1
22,10000034-TST-M,alvear investments limited,1
27,10000037-TST-MR,parkdale holdings ltd.,1
28,10000038-TST-MR,saddleville corporation,1
30,10000040-T0-TST-M,"meioo internationil cf., ltd.",1
33,10000043-TST-MR,daford international corp.,1
38,10000050-TST-MR,universal resources limited,1
39,10000051-T0,"ntxxgen sourcing, ltd.",1
48,10000060-TST-MR,world entertainment phuket ltd.,1
49,10000061-TST-M,red rose inc.,1
52,10000065-T1-TST-M,advantage duty-free qqc.,1
54,10000067-T1-TST-M,ideal exrertflimited,1
59,10000074-TST-MR,yellow sun ltd.,1
60,10000078-TST-MR,goldenfull enterprise ltd.,1
63,10000082-TST-MR,coral palms holdings ltd.,1
67,10000088-TST-M,maxpro ut world pty. ltd.,1
71,10000094-TST-MR,"ran yu investment co., ltd.",1
75,10000102-T1-TST-M,eexion groac ltd.,1
79,10000116-TST-MR,future finance limited,1
82,10000120-TST-MR,westbury investments limited,1
88,10000128-TST-MR,jay ocean finance ltd.,1
91,10000136-TST-MR,staybond limited,1
94,10000139-TST-MR,allkind investment limited,1
97,10000141-TST-MR,"oceanland international co., ltd.",1
100,10000146-TST-MR,east point group ltd.,1
103,10000149-TST-MR,archaeobacteria limited,1
...,...,...,...
266835,13012993-TST-MR,evelyn s. dy and frederick y. dy and daniel s.,1
266838,13012999-TST-MR,zhou zhi bin,1
266839,13013001-TST-MR,"jorge augusto, cejudo podio",1
266847,13013013-TST-MR,henry alirio rodriguez barrera,1
266855,13013020-TST-MR,mr. andrey mukovoz,1
266858,13013024-TST-MR,montserrat armengol,1
266867,13013042-TST-MR,mr. mustafa lebib misirli,1
266875,13013051-T1-TST-M,cwijqtnggang,1
266887,13013075-TST-MR,olga muravieva,1
266911,13013098-TST-MR,rana el-chemaitelly,1
266912,13013100-TST-MR,milos tracik,1
266917,13013107-TST-MR,nikolay ambrosov,1
266920,13013115-TST-MR,"mr. leung ka yuen, lawrence",1
266927,15000601-TST-M,pilar de borbón,1
266928,15000801-TST-MR,bruno jean-richard itoua,1
266929,15000901-TST-MR,micaela domecq solís-beaumont,1
266934,15001501-TST-MR,mamadie toure,1
266937,15001903-TST-MR,hussain nawaz sharif,1
266939,15003201-TST-MR,víctor cruz weffer,1
266940,15003301-TST-MR,pedro delgado,1
266942,15004001-T3-TST-M,jdão lyra,1
266943,15004501-TST-MR,king salman bin abdulaziz bin abdulrahman al saud,1
266944,15005002-TST-MR,leyla aliyeva,1
266945,15005003-TST-MR,arzu aliyeva,1
266946,15005004-TST-M,heydar aliyev,1
266947,15005201-TST-MR,konrad mizzi,1
266948,15005401-TST-MR,mamadou pouye,1
266950,15005801-T0-TST-M,ahmak ali al-myrghani,1
266952,15006601-TST-MR,bjarni benediktsson,1
266954,15006801-TST-MR,james ibori,1