In [1]:
import pandas as pd
from scipy import *
from scipy.sparse import *
from tqdm.auto import tqdm

df_train = pd.read_csv('../dataset/original/train.csv', escapechar="\\")
df_train = df_train.sort_values(by=['record_id']).reset_index(drop=True)

In [2]:
df_train.head()

,record_id,name,type,address,phone,email,modification,linked_id
0,10000001,"TIANSHENG INDUSTRY AND TRADING CO., LTD.",entity,NaN,3.391448e+11,inquires@TIANSHENG.INDUSTRY.AND.TRADING.CO.LTD.de,original,10000001
1,10000002,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",entity,NaN,1.813704e+10,consulting@zoho.cz,original,10000002
2,10000002-M0,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",entity,NaN,1.813704e+10,NaN,missing,10000002
3,10000002-M1,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",entity,NaN,NaN,NaN,missing,10000002
4,10000004,"SKY-BLUE GIFTS & TOYS CO., LTD.",entity,NaN,NaN,NaN,original,10000004

In [3]:
null_phone = {}
null_phone = dict(zip(list(set(df_train.linked_id.tolist())), [0 for x in range(len(df_train.linked_id.tolist()))]))

In [4]:
df_train.phone = df_train.phone.astype(str)

In [5]:
for ind,lid,phone in tqdm(zip(df_train.index, df_train.linked_id, df_train.phone)):
    if phone == 'nan':
        null_phone[lid]+=1

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [6]:
pop = {}
pop = dict(zip(list(set(df_train.linked_id.tolist())), [0 for x in range(len(df_train.linked_id.tolist()))]))
for ind,lid in tqdm(zip(df_train.index, df_train.linked_id)):
    pop[lid] +=1

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [7]:
feature = pd.DataFrame()
feature['linked_id'] = null_phone.keys()
feature['null_email'] = null_phone.values()
feature['popularity'] = pop.values()

In [8]:
feature

        linked_id  null_email  popularity
0        11010051           0           3
1        11010052           0           3
2        11010053           0           1
3        11010054           0           1
4        12192139           3           4
5        11010056           2           4
6        11010057           0           1
7        12192140           0           6
8        11010059           1           4
9        11010060           2           5
10       11010061           1           2
11       11010062           2           5
12       12058638           0           2
13       11010064           0           1
14       11010065           0           1
15       11010066           1           4
16       12192141           0           2
17       11010068           1           3
18       11010069           6           7
19       12192142           1           1
20       11010071           2           6
21       11010072           3          10
22       11010073           0           1
23       11010074           0           1
24       11010075           2           9
25       11010076           0           2
26       11010077           0           1
27       11010078           0           1
28       11010079           0           4
29       11010080           1           1
...           ...         ...         ...
267214   11010008           0           5
267215   11010009           0           4
267216   11010010           1           1
267217   11010011           4           5
267218   11010012           0           1
267219   11010013           0           6
267220   11010014           1           4
267221   11010015           0           1
267222   11010016           0           1
267223   11010017           1           1
267224   11010018           0           6
267225   11010020           0           5
267226   11010021           2           5
267227   11010023           0           4
267228   11010024           2           3
267229   11010026           0           1
267230   11010029           0           1
267231   11010030           0           2
267232   11010032           1           1
267233   11010033           2           7
267234   11010035           0           1
267235   11010037           1           3
267236   11010038           1           2
267237   12192136           0           4
267238   11010041           0           1
267239   11010042           2           6
267240   12217504           0           5
267241   11010045           0           1
267242   11010046           0           1
267243   11010047           0           2

[267244 rows x 3 columns]

In [26]:
feature[feature.linked_id == 11010062]

    linked_id  null_email  perc_non_null
11   11010062           2             60

In [27]:
df_train[df_train.linked_id == 11010062]

,record_id,name,type,address,phone,email,modification,linked_id
399991,11010062,BOREL & BARBEY,intermediary,NaN,420025701849.0,NaN,original,11010062
399992,11010062-M0,BOREL & BARBEY,intermediary,NaN,nan,NaN,missing,11010062
399993,11010062-M1,BOREL & BARBEY,intermediary,NaN,nan,NaN,missing,11010062
399994,11010062-T0,BeREL & BARBEY,intermediary,NaN,420025701849.0,NaN,typo,11010062
399995,11010062-T1,BOREL & BApBEf,intermediary,NaN,420025901849.0,NaN,typo,11010062

In [11]:
perc_mail = []
for m, p in tqdm(zip(feature.null_email, feature.popularity)):
    perc_mail.append(int(100-m/p*100))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [12]:
feature['perc_non_null'] = perc_mail

In [13]:
feature

        linked_id  null_email  popularity  perc_non_null
0        11010051           0           3            100
1        11010052           0           3            100
2        11010053           0           1            100
3        11010054           0           1            100
4        12192139           3           4             25
5        11010056           2           4             50
6        11010057           0           1            100
7        12192140           0           6            100
8        11010059           1           4             75
9        11010060           2           5             60
10       11010061           1           2             50
11       11010062           2           5             60
12       12058638           0           2            100
13       11010064           0           1            100
14       11010065           0           1            100
15       11010066           1           4             75
16       12192141           0           2            100
17       11010068           1           3             66
18       11010069           6           7             14
19       12192142           1           1              0
20       11010071           2           6             66
21       11010072           3          10             70
22       11010073           0           1            100
23       11010074           0           1            100
24       11010075           2           9             77
25       11010076           0           2            100
26       11010077           0           1            100
27       11010078           0           1            100
28       11010079           0           4            100
29       11010080           1           1              0
...           ...         ...         ...            ...
267214   11010008           0           5            100
267215   11010009           0           4            100
267216   11010010           1           1              0
267217   11010011           4           5             20
267218   11010012           0           1            100
267219   11010013           0           6            100
267220   11010014           1           4             75
267221   11010015           0           1            100
267222   11010016           0           1            100
267223   11010017           1           1              0
267224   11010018           0           6            100
267225   11010020           0           5            100
267226   11010021           2           5             60
267227   11010023           0           4            100
267228   11010024           2           3             33
267229   11010026           0           1            100
267230   11010029           0           1            100
267231   11010030           0           2            100
267232   11010032           1           1              0
267233   11010033           2           7             71
267234   11010035           0           1            100
267235   11010037           1           3             66
267236   11010038           1           2             50
267237   12192136           0           4            100
267238   11010041           0           1            100
267239   11010042           2           6             66
267240   12217504           0           5            100
267241   11010045           0           1            100
267242   11010046           0           1            100
267243   11010047           0           2            100

[267244 rows x 4 columns]

In [14]:
feature = feature.drop(['popularity'], axis=1)

In [15]:
feature

        linked_id  null_email  perc_non_null
0        11010051           0            100
1        11010052           0            100
2        11010053           0            100
3        11010054           0            100
4        12192139           3             25
5        11010056           2             50
6        11010057           0            100
7        12192140           0            100
8        11010059           1             75
9        11010060           2             60
10       11010061           1             50
11       11010062           2             60
12       12058638           0            100
13       11010064           0            100
14       11010065           0            100
15       11010066           1             75
16       12192141           0            100
17       11010068           1             66
18       11010069           6             14
19       12192142           1              0
20       11010071           2             66
21       11010072           3             70
22       11010073           0            100
23       11010074           0            100
24       11010075           2             77
25       11010076           0            100
26       11010077           0            100
27       11010078           0            100
28       11010079           0            100
29       11010080           1              0
...           ...         ...            ...
267214   11010008           0            100
267215   11010009           0            100
267216   11010010           1              0
267217   11010011           4             20
267218   11010012           0            100
267219   11010013           0            100
267220   11010014           1             75
267221   11010015           0            100
267222   11010016           0            100
267223   11010017           1              0
267224   11010018           0            100
267225   11010020           0            100
267226   11010021           2             60
267227   11010023           0            100
267228   11010024           2             33
267229   11010026           0            100
267230   11010029           0            100
267231   11010030           0            100
267232   11010032           1              0
267233   11010033           2             71
267234   11010035           0            100
267235   11010037           1             66
267236   11010038           1             50
267237   12192136           0            100
267238   11010041           0            100
267239   11010042           2             66
267240   12217504           0            100
267241   11010045           0            100
267242   11010046           0            100
267243   11010047           0            100

[267244 rows x 3 columns]