In [1]:
import pandas as pd

In [2]:
df_test = pd.read_csv("../dataset/original/test.csv", escapechar="\\")

In [3]:
df_test.head()

,record_id,name,type,address,phone,email,modification
0,10051937-TST-MR,CHEYHAM CORPORATION LIMITED,entity,NaN,1.986537e+10,sales@protonmail.com,move unique
1,10070762-TST-MR,MEABIZ LIMITED,entity,NaN,3.374033e+11,NaN,move unique
2,10000304-TST-MR,CHAMPLE INVESTMENTS LTD.,entity,NaN,4.142094e+12,NaN,move unique
3,10151607-TST-MR,Concept I Media and Technology Company Limited,entity,NaN,1.480354e+10,NaN,move unique
4,10124701-TST-MR,ARRA RESOURCES LIMITED,entity,NaN,4.207630e+11,NaN,move unique