In [8]:
import pandas as pd
from scipy.sparse import *
from scipy import *
from tqdm.auto import tqdm
import numpy as np

In [5]:
d = pd.read_csv('../dataset/validation/train_complete.csv')

In [6]:
d.head(10)

,queried_record_id,predicted_record_id,predicted_record_id_record,cosine_score,name_cosine,email_cosine,phone_cosine,address_cosine,linked_id_idx,target,...,name_popularity,null_address,perc_non_null_address,null_email,perc_non_null_email,null_phone,perc_non_null_phone,case_typo,phone_popularity,test_name_length
0,10000002,10000002,10000002-M1,1.000000,1.000000,0.0,0.0,0.0,1,1,...,3,1,0,1,0,1,0,0,2,43
1,10000002,10140664,10140664,0.520833,0.520833,0.0,0.0,0.0,167911,0,...,3,1,0,0,100,0,100,0,2,43
2,10000002,10025741,10025741,0.509804,0.509804,0.0,0.0,0.0,31141,0,...,3,1,50,2,0,2,0,0,2,43
3,10000002,10025741,10025741-NV0,0.509804,0.509804,0.0,0.0,0.0,31142,0,...,3,1,50,2,0,2,0,0,2,43
4,10000002,10041218,10041218,0.480000,0.480000,0.0,0.0,0.0,49483,0,...,3,1,0,1,0,1,0,0,2,43
5,10000002,10043848,10043848-NV0,0.450980,0.450980,0.0,0.0,0.0,52530,0,...,3,2,33,3,0,0,100,0,2,43
6,10000002,10043848,10043848-M0,0.450980,0.450980,0.0,0.0,0.0,52529,0,...,3,2,33,3,0,0,100,0,2,43
7,10000002,10043848,10043848,0.450980,0.450980,0.0,0.0,0.0,52528,0,...,3,2,33,3,0,0,100,0,2,43
8,10000002,10073387,10073387,0.446809,0.446809,0.0,0.0,0.0,87311,0,...,3,4,0,1,75,3,25,0,2,43
9,10000002,10073387,10073387-M0,0.446809,0.446809,0.0,0.0,0.0,87312,0,...,3,4,0,1,75,3,25,0,2,43

In [9]:
neg, pos = np.bincount(d['target'])

In [12]:
pos*100 / (pos+neg)

3.737429108913217